{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
   
    <div class="row ">
        <div class="col-sm-6 mb-3 mb-sm-0">
            {% if movie %}
                    <div class="card" style="width: 22rem ;">
                        {% if user.profile_picture %}
                        <img src="..." class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ movie.title }}</h4>
                            <p class="card-text"> Description: {{ movie.description }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Year: {{ movie.release_date }}</li>
                                <li class="list-group-item">Genre: {{ movie.genre }}</li>
                                <li class="list-group-item">Length: {{ movie.length }}min</li>
                                <li class="list-group-item">Rating score: {{ movie.rating }}min</li>
                                <li class="list-group-item">Casting: {{ movie.casting }}min</li>
                                <li class="list-group-item">Production: {{ movie.production }}</li>
                                <li class="list-group-item">Writer: {{ movie.writer }}</li>
                                <li class="list-group-item">Origin country: {{ movie.country_of_origin }}min</li>
                            </ul>
                        </div>
                    </div>
                </div>
                

            {% else %}
                <p>No movies found...</p>
            {% endif %}
    </div>
    <br/>
    
</div>

{% endblock %}
