{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid my-4">
    <div class="custom-wide">
        <div class="row">
            
            
            <!-- Left section of the screen -->
            <aside class="custom-col-1-5 d-none d-md-block">
                <div></div>
            </aside>
            
            <main class="custom-col-9">
                
                {% if movie %}
                <br>
                <div class="card" style="justify-content: center; width: 90%; margin: auto;">

                    <div class="banner" style="width: fit-content;">
                        {% if movie.render_banner_poster %}
                        <img src="{{ movie.render_banner_poster }}" class="img-fluid rounded" style="width: max-content; height: max-content;" alt="Profile photo">
                        {% else %}
                        <img src="{% static 'images/default_banner_photo.jpg' %}" class="img-fluid rounded" style="width: 1280px; height: 720px;" alt="Profile photo">
                        {% endif %}
                    </div>

                    <div style="display: flex; flex-wrap: wrap; justify-content:space-between ;">

                        <p><small>{{ movie.render_vote_average }}/10 ({{movie.vote_count}} votes)</small></p>

                        <div style="align-self: flex-end; margin-top: 15px; margin-right: 10px;">

                            <div class="user-feature-btn">
                                <!-- watchlist button feature -->
                                <button class="watchlist-button"
                                        data-type="movie"
                                        data-id="{{ movie.id }}"
                                        data-bookmarked="{% if movie.id in user_watchlist_movies %}true{% else %}false{% endif %}">
                                    <i class="{% if movie.id in user_watchlist_movies %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                </button>

                                <!-- like button feature -->
                                <button class="like-button"
                                        data-type="movie"
                                        data-id="{{ movie.id }}"
                                        data-liked="{% if movie.id in user_liked_movie %}true{% else %}false{% endif %}">
                                    <i class="{% if movie.id in user_liked_movie %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                </button>
                            
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="card-img-top" style="text-align: center; margin-top: 20px;">
                        {% if movie.render_image_poster %}
                        <img src=" {{ movie.render_image_poster }} " class="img-fluid rounded" style="margin: 0px 25px;" alt="Profile photo">
                        {% else %}
                        <img src="{% static 'images/default_media_photo.jpg' %}" class="img-fluid rounded" style="margin: 0px 25px;" alt="Profile photo">
                        {% endif %}
                    </div>
                    <br>

                    <div class="card-body">
                        <div style="text-align: center;">
                            {% if movie.title != movie.original_title %}
                            <h4 class="card-title">{{ movie.title }} ({{ movie.original_title }})</h4>
                            {% else %}
                            <h4 class="card-title">{{ movie.title }}</h4>
                            {% endif %}

                            {% if movie.tagline %}
                            <p>({{ movie.tagline }})</p>
                            {% endif %}

                            <!-- For dev purpose -->
                            {% if request.user.is_superuser %}
                            <div>
                                <small>id: {{ movie.pk }} </small>
                                
                                {% if movie.created_at|date:"Y-m-d H" == movie.updated_at|date:"Y-m-d H" %}
                                <small> -- (Not updated)</small>
                                {% elif movie.created_at != movie.updated_at %}
                                <small> -- (last updated on {{ movie.updated_at }})</small>
                                {% endif %}
                            </div>
                            {% endif %}
                            <!-- End of dev purpose -->

                        </div>   
                        <br>

                        <div>
                            {% if movie.description %}
                            <p class="card-text"><strong>Description:</strong> {{ movie.description }}</p>
                            {% else %}
                            <p class="card-text"><strong>Description:</strong> No description available.</p>
                            {% endif %}
                            
                            <br>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Released:</strong> {{ movie.render_release_date }}</li>
                                <li class="list-group-item"><strong>Genre:</strong>  {{ movie.render_genre }}</li>
                                <li class="list-group-item"><strong>Length:</strong> {{ movie.render_length }}</li>
                                <li class="list-group-item"><strong>Casting:</strong> {{ movie.render_casting }}</li>
                                <li class="list-group-item"><strong>Production:</strong> {{ movie.render_production }}</li>
                                <li class="list-group-item"><strong>director:</strong> {{ movie.render_director }}</li>
                                <li class="list-group-item"><strong>Writer:</strong> {{ movie.render_writer }}</li>
                                <li class="list-group-item"><strong>Origin country:</strong> {{ movie.render_origin_country }}</li>
                                <li class="list-group-item"><strong>Spoken languages:</strong> {{ movie.render_spoken_languages }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="display-trailer" style="display: flex; flex-wrap: wrap;">
                        {% if movie.trailers %}
                        {% for trailer in movie.trailers %}
                        <div class="ms-2 mb-2">
                            <iframe width="300" height="200"
                                src="https://www.youtube.com/embed/{{ trailer.key }}"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <br>


                <!------- Comment Post form -------->
                <section class="comment-post-section">
                    {% include "comment/comment_form.html" %}
                </section>
                <br>

                <!--------- Comment Objects Section here -------->
                <section  class="comment-list-section">
                    {% if comments %}

                    {% for comment in comments %}
                    {% include "comment/block_comment.html" %}
                    {% endfor %}

                    {% else %}
                    <h4 style="text-align: center; color: antiquewhite;">No comment posted yet...</h4>
                    {% endif %}
                </section>

                {% else %}
                    <h4>Movie not found...</h4>
                {% endif %}

            </main>


            <!-- Right section of the screen -->
            <aside class="custom-col-1-5 d-none d-md-block">
                <div>
                </div>
            </aside>

        </div>
    </div>
</div>
<br/>


<script src="{% static 'js/create_comment.js' %}"></script>
<script src="{% static 'js/edit_comment.js' %}"></script>
<script src="{% static 'js/delete_comment.js' %}"></script>

{% endblock %}
