{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="custom-wide">
    <div class="row main-row">

        <!-- Left section of the screen -->
        <aside class="custom-col-1-5 l-side-wrapper">
            <div></div>
        </aside>


        <main class="custom-col-9 main-wrapper">

            {% if list_media %}
            <!-- <h1 style="text-align: center; margin-top: 2rem; margin-bottom: 2rem;">Movies:</h1> -->

            <div style="text-align: center; margin-bottom: 0.25rem;">
                <h1 style="margin-bottom: 0;">Movies:</h1>
            </div>
            <div style="padding: 0;">
                <!-- prepare to add an order_by feature -->
                <h6 style="text-align:right; margin-right: 2rem; padding: 0;">order by</h6>
            </div>


            <div class="row media-row">
                {% for item in list_media %}
                {% include "partials/media_list.html" %}

                {% endfor %}
            </div>
            {% elif not list_media %}
            <div style="text-align: center; color: antiquewhite; margin-top: 4rem;">
                <h3>No movies found...</h3>
                <p>please visit this page later</p>
                <div style="padding-bottom: 35%;"></div>
            </div>
            {% endif %}


            <!----- Pagination system ------->
            <section class="pagination-section">
                {% include "partials/paginator.html" %}

            </section>
        </main>


        <!-- Right section of the screen -->
        <aside class="custom-col-1-5 r-side-wrapper">
            <div>
            </div>
        </aside>

    </div>
</div>

{% endblock %}
