# cache
__pycache__/
*.py[cod]

# Environment variables
.movievenv 
movievenv

/venv/
.venv/
venv
.movenv/
.env

# IDE files
.vscode/

# medial files
/media/

# logs
logs/

# Celery files
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

#  ------ files to fix some issues/bugs or simply update some models fields. ----
correct_movie_images.py
correct_production_movies.py
delete_movies.py
# slug_episode_title.py
# slug_movie_title.py
# slug_season_title.py
# slug_serie_title.py
update_serie_date.py
watchlist_fk_fields.py
check_dbl_imdb_id.py
clean_serie_popularity.py
correct_trailers.py
add_status_watchlist.py
# import_data/management/commands/

api_test.py

buttons.html