# cache
__pycache__/
*.py[cod]

# Environment variables
.movievenv 
movievenv

/venv/
.venv/
venv

.env

# IDE files
.vscode/

# medial files
/media/

# logs
logs/

# Celery files
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

tmdb_access.html




#  ------ files to fix some issues /bugs
correct_production_movies.py
