{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/paginator.css' %}">
{% endblock %}

<section class="pagination-section">


    <div style="width: fit-content; margin: auto;">
        <!-- Use HTMX to replace media grid and paginator -->
        <!-- Keep href in <a> if user does not have javascript actif -->
        {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination-wrapper">
            <nav aria-label="Page navigation example">

                <!-- Row 1 (mobile screen)- page buttons -->
                <ul class="pagination pagination-btns">
                
                    {% if page_obj.has_previous %}
                        <!-- Use class page-mobile and page-desktop to make it better  -->

                    <div class="page-mobile">
                        <!-- Design for mobile pages 2 buttons around current page -->
                        {% if page_obj.number|add:-2 > 1 %}
                        <li class="page-item direction">
                            <a href="?{{ query_pagin_url }}&page=1"
                                hx-get="{{ base_url }}?{{ query_pagin_url }}&page=1"
                                hx-swap="innerHTML"
                                hx-target="#media-list" 
                                hx-push-url="true" 
                                class="btn btn-outline-info">
                                1
                            </a>
                        </li>

                        {% if page_obj.number|add:-3 > 1 %}
                        <!-- previous page -->
                        <li class="page-item direction">
                            <a class="btn btn-outline-info"
                                href="?{{ query_pagin_url }}&page={% if page_obj.number|add:-3 < 1 %}1{% else %}{{ page_obj.number|add:-3 }}{% endif %}" 
                                hx-get="{{ base_url }}?{{ query_pagin_url }}&page={% if page_obj.number|add:-3 < 1 %}1{% else %}{{ page_obj.number|add:-3 }}{% endif %}" 
                                hx-swap="innerHTML" 
                                hx-target="#media-list" 
                                hx-push-url="true">
                                <div class="page-icon">&lsaquo;</div>
                            </a>
                        </li>
                        <span class="pagin-spacer">..</span>
                        {% endif %}
                        {% endif %}
                    </div>


                    <div class="page-desktop">
                        <!-- Design for Desktop pages 5 buttons around current page -->

                        {% if page_obj.has_previous and page_obj.number|add:-5 > 1 %}

                        <li class="page-item direction">
                            <a href="?{{ query_pagin_url }}&page=1"
                                hx-get="{{ base_url }}?{{ query_pagin_url }}&page=1"
                                hx-swap="innerHTML"
                                hx-target="#media-list" 
                                hx-push-url="true" 
                                class="btn btn-outline-info">
                                1
                            </a>
                        </li>

                        {% if page_obj.number|add:-6 > 1 %}
                        <!-- previous page -->
                        <li class="page-item direction">
                            <!-- From sm screen -->
                            <a class="btn btn-outline-info" 
                                href="?{{ query_pagin_url }}&page={% if page_obj.number|add:-6 < 1 %}1{% else %}{{ page_obj.number|add:-6 }}{% endif %}" 
                                hx-get="{{ base_url }}?{{ query_pagin_url }}&page={% if page_obj.number|add:-6 < 1 %}1{% else %}{{ page_obj.number|add:-6 }}{% endif %}" 
                                hx-swap="innerHTML" 
                                hx-target="#media-list" 
                                hx-push-url="true">
                                <div class="page-icon">&lsaquo;</div>
                            </a>
                        </li>
                        
                        <span class="pagin-spacer">...</span>
                        {% endif %}
                        {% endif %}
                    </div>

                    {% endif %}

                    <!-- enumerate pages around current page -->
                    <!-- Desktop size 5 pages around current-->
                    {% for num in desktop_pages %}
                    <li class="page-item page-desktop">
                        {% if num == page_obj.number %}
                        <a href="#" class="btn btn-info page-current">{{ num }}</a>
                        {% else %}
                        <a href="?{{ query_pagin_url }}&page={{ num }}" 
                            hx-get="{{ base_url }}?{{ query_pagin_url }}&page={{ num }}" 
                            hx-swap="innerHTML"
                            hx-target="#media-list" 
                            hx-push-url="true" 
                            class="btn btn-outline-info page-surround">
                            {{ num }}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                
                    <!-- Mobile size, 2 pages around current-->
                    {% for num in mobile_pages %}
                    <li class="page-item page-mobile">
                        {% if num == page_obj.number %}
                        <a href="#" class="btn btn-info page-current">{{ num }}</a>
                        {% else %}
                        <a href="?{{ query_pagin_url }}&page={{ num }}" hx-get="{{ base_url }}?{{ query_pagin_url }}&page={{ num }}" hx-swap="innerHTML"
                            hx-target="#media-list" hx-push-url="true" class="btn btn-outline-info page-surround">
                            {{ num }}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}




                    {% if page_obj.has_next %}
                    <!-- Next page -->
                    
                    <div class="page-mobile">
                        {% if page_obj.number|add:3 < page_obj.paginator.num_pages %}

                        <span class="pagin-spacer">..</span>

                        <li class="page-item direction">
                            <!-- mobile screen -->
                            <a href="?{{ query_pagin_url }}&page={{ page_obj.number|add:3 }}"
                            hx-get="{{ base_url }}?{{ query_pagin_url }}&page={{ page_obj.number|add:3 }}"
                            hx-swap="innerHTML" 
                            hx-target="#media-list" 
                            hx-push-url="true" 
                            class="btn btn-outline-info">
                            <div class="page-icon">&rsaquo;</div>

                            </a>
                        </li>
                        {% endif %}

                        {% if page_obj.number|add:2 < page_obj.paginator.num_pages %}

                        <!-- ---- Last page ---- -->
                        <li class="page-item direction">
                            <a href="?{{ query_pagin_url }}&page={{ page_obj.paginator.num_pages }}"
                                hx-get="{{ base_url }}?{{ query_pagin_url }}&page={{ page_obj.paginator.num_pages}}"
                                hx-swap="innerHTML"
                                hx-target="#media-list"
                                hx-push-url="true"
                                class="btn btn-outline-info page-surround">
                                {{ page_obj.paginator.num_pages }}
                            </a>
                        </li>

                        {% endif %}

                    </div>

                    <div class="page-desktop">
                        <!-- Design for Desktop pages 5 buttons around current page -->
                        {% if page_obj.number|add:6 < page_obj.paginator.num_pages %}

                        <span class="pagin-spacer">...</span>

                        <li class="page-item direction">
                            <!-- Desktop screen -->
                            <a href="?{{ query_pagin_url }}&page={{ page_obj.number|add:6 }}"
                                hx-get="{{ base_url }}?{{ query_pagin_url }}&page={{ page_obj.number|add:6 }}"
                                hx-swap="innerHTML" 
                                hx-target="#media-list" 
                                hx-push-url="true" 
                                class="btn btn-outline-info">
                                <div class="page-icon">&rsaquo;</div>
                            </a>
                        </li>

                        {% endif %}
                        {% if page_obj.number|add:5 < page_obj.paginator.num_pages %}

                        <!-- ---- Last page ---- -->
                        <li class="page-item direction">
                            <a href="?{{ query_pagin_url }}&page={{ page_obj.paginator.num_pages }}"
                                hx-get="{{ base_url }}?{{ query_pagin_url }}&page={{ page_obj.paginator.num_pages}}"
                                hx-swap="innerHTML"
                                hx-target="#media-list"
                                hx-push-url="true"
                                class="btn btn-outline-info page-surround">
                                {{ page_obj.paginator.num_pages }}
                            </a>
                        </li>

                        {% endif %}
                    </div>

                    {% endif %}

                </ul>

                <!-- Row 2(mobile screen) -->
                <div class="pagination-meta">

                    <!-- Scroll down page selector, for fastest pages navigation -->
                    <div class="pagination-jump">
                        <label for="page-jump" class="sr-only">Jump to page</label>

                        <select id="page-jump" 
                            name="page"
                            class="form-select form-select-sm"
                            hx-get="{{ base_url }}?{{ query_pagin_url }}"
                            hx-trigger="change"
                            hx-swap="innerHTML"
                            hx-target="#media-list"
                            hx-push-url="true">
                            <option value="">page..</option>
                    
                            {% for num in page_obj.paginator.page_range %}
                            {% if num|divisibleby:10 or num == page_obj.paginator.num_pages %}
                                <option value="{{ num }}">
                                    {{ num }}
                                </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Current page and how many pages are there -->
                    <div class="pagin-info" style="margin: 8px 0px 0px 0px;">
                        <h6 style="color: darkgray;">( Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} )</h6>
                    </div>
                </div>
            </nav>
        </div>

        {% elif page_obj and page_obj.paginator.num_pages == 1 %}
        <!-- Show only page info when there's just one page -->
        <div class="pagination-wrapper" style="margin: 10px 0;">
            <h6 style="color: darkgray;">( Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} )</h6>
        </div>
        {% endif %}
    </div>

</section>