{% load static %}
<!-- Display the content of a comment. -->
<!-- Use to list existing ones and to place a new one -->
<div id="comment-{{ comment.pk }}" class="card" style="width: 80%; margin: auto; border: solid 2px rgb(21, 49, 49); margin-bottom: 1em;">
    <div class="card-body" style="padding: 6px;">
        <div style="display: flex; justify-content: space-between; margin-bottom: 0; padding-bottom: 0;">
            <!-- Show user who posted the comment -->
            <div class="d-flex">
                {% if comment.user.profile.profile_picture %}
                <img src="{{ comment.user.profile.profile_picture.url }}" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="Profile photo">
                {% else %}
                <img src="{% static 'images/default_user_pic.png' %}" class="img-fluid rounded-circle" style="width: 50px; height: 50px;" alt="Profile photo">
                {% endif %}
                <p style="margin-top: 2px; margin-left: 5px;"><strong>{{ comment.user.username }}</strong></p>
            </div>
            <!-- Created or edited  -->
            <div class="d-flex created-at" style="font-size: 14px;">
                {% if comment.created_at|date:"Y-m-d H:i:s" != comment.updated_at|date:"Y-m-d H:i:s" %}
                <p style="margin-right: 8px;">(Edited) </p>
                {% endif %}
                <p class="text-muted"> {{ comment.created_at }}</p>
            </div>
        </div>
        <!-- trial to separate with a line -->
        <div style="width: 90%; margin: auto; margin-top: 0; padding-top: 0;">
            <hr style="padding: 0; margin-top: 0;">
        </div>

        <div  class="comment-block" style="display: flex; flex-wrap: wrap; justify-content:space-between ; margin-top: 5px;">
            <!-- Comment Body here -->
            <div class="comment-body" style="width: 90%; text-align: left; padding-left: 3em;">
                <p>{{ comment.body|linebreaksbr }}</p>
            </div>
            
            <!----------  Edit comment block ------>
            {% include "comment/edit_comment.html" %}

            <!-- Delete and Edit option for comments if user 'owner' of the comment -->
            <div class="comment-buttons" style="margin-top: auto;">
                <div class="d-flex" >
                    <!--  User can only Edit their Comment once -->
                    {% if comment.user.id == request.user.id and comment.created_at|date:"Y-m-d H:i:s" == comment.updated_at|date:"Y-m-d H:i:s" %}
                    <div class="edit-comment-button">
                        <button 
                            class="edit-comment-form-btn" 
                            data-comment-id="{{ comment.pk }}"
                            data-comment-body="{{ comment.body }}"
                            style="color: inherit; border: none; background: none; cursor: pointer;">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                    {% endif %}
                    {% if comment.user.id == request.user.id %}
                    <!-- <div id="delete-comment"> -->
                    <div>
                        <button class="delete-comment-btn" 
                            data-comment-id="{{ comment.pk }}"
                            data-content-type="{% if serie %}serie{% else %}movie{% endif %}"
                            data-object-id="{% if serie %}{{ serie.id }}{% elif movie %}{{ movie.id }}{% endif %}"
                            style="border: none;  background: none;  color: inherit; margin-right: 0px;">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
