{% load static %}

<div style="justify-items: center; margin-top: 20px;">
    <h3>Comments:</h3>
</div>

<!---- Comment Form section ----->
{% if form %}
<form action="" id="comment-form" method="POST" style="margin-top: 10px;" label="">
    {% csrf_token %}
    
    <div class="row" style="width: 80%; margin: auto; ">
        {{ form.body }}
        <button type="submit"
            id="submit_new_comment"
            class="btn btn-secondary" 
            data-content-type = '{% if serie %}serie{% else %}movie{% endif %}'
            data-object-id = '{% if serie %}{{ serie.id }}{% elif movie %}{{ movie.id }}{% endif %}'
            style="width: auto; margin: auto; margin-top: 10px;">
            Post
        </button>
    </div>
</form>
{% endif %}

<!-- Need to find a way to differentiate between Serie and movies. -->