{% load static %}


<div class="edit-comment-block" style="display: none; padding-left: 12px; width: 90%;">
    
    <form action=""  method="PUT" id="edit-comment-form" style="margin-top: 10px;" label="">
        {% csrf_token %}
        
        <textarea name="body" style="background-color: black; color: whitesmoke; width: 100%; resize: none; padding-bottom: 30px;">
            {{ comment.body|escapejs }}
        </textarea>
        
        <div>
            <div style="text-align: center;">
                <button type="button" class="cancel-btn btn btn-sm btn-secondary" style="margin-top: 10px;">
                    Cancel
                </button>
            
                <button type="submit" 
                    data-content-type = '{% if serie %}serie{% else %}movie{% endif %}'
                    data-object-id = '{% if serie %}{{ serie.id }}{% elif movie %}{{ movie.id }}{% endif %}'
                    class="btn btn-sm btn-secondary" 
                    style="margin-top: 10px;">
                    Confirm
                </button>
            </div>
        </div>
    </form>
    
</div>
