{% extends 'base.html' %}
{% load static %}

{% block content %}

    
<div class="container-fluid" style="width: 85%;">

    <div class="ms-auto mb-2 me-auto" style="text-align: center; margin-top: 15px; color: antiquewhite;">

        <h1 class="mt-1 mb-3">Welcome to Vault7</h1>
        <!-- Reference the amount of content in the Database -->
        {% if movies_count %}
        <strong>
            {{ movies_count }} movies {% else %}No movies{% endif %} and
            {% if series_count %}
            {{ series_count }} series
            {% else %}
            No series
            {% endif %}
            available in the library
        </strong>
        <div>
            <br>
            <p>Save your favorit movies and TV shows. add your thoughts and critics to it in a note.</p>

        </div>
        
    </div>

    <br>
    
    <!---- Display last added contents in the database ----->
    
    <!-- Displaying the last movies added here -->
    <h3 style="text-align: center;">Last added movies:</h3>

    <br>
    <div>
        <div style="display: flex; flex-wrap: wrap;">
            {% if movies %}
            {% for movie in movies %}

            <div class="card" style="width: 350px; margin-bottom: 25px; margin-right: auto; border: none;">

                <div style="display: flex; justify-content: space-between;" id="like_button">
                    <p style=" margin: 5px 0px 0 15px;"><small>{{ movie.render_vote_average }}/10</small></p>
                    
                    <!-- like button feature -->
                    <button class="like-button"
                            data-type="movie"
                            data-id="{{ movie.id }}"
                            data-liked="{% if movie.id in user_liked_movies %}true{% else %}false{% endif %}">
                        <i class="{% if movie.id in user_liked_movies %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                    </button>

                </div>

                <div class="card-title">
                    <div style="display: flex; justify-content: center;">
                        <a href="{% url 'movie:movie_overview' movie.id %}" style="text-decoration: none; color: #000;">
                            <h4>{{ movie.title }} </h4>
                        </a>

                        <div style="color: lightblue;">
                            {% if movie.length %}
                            <p style="margin-left: 8px;"><small>({{ movie.length }}min)</small></p>
                            {% else %}
                            <p style="margin-left: 8px;"><small>(N/a)</small></p>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="card-img-top" style="margin:auto;  width: 60%;">
                    {% if movie.image_poster %}
                    <img src="{{ movie.image_poster }}" class="img-fluid"  alt="Profile photo" style="width: max-content;">
                    {% else %}
                    <img src="{% static 'images/default_user_pic.png' %}" class="img-fluid rounded" alt="Profile photo">
                    {% endif %}
                </div>


                <div class="card-body" style="text-align: left;">
                        <p style="height: 70px;"><strong>Overview</strong>: {{ movie.description|slice:":80" }}...</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Released:</strong> {{ movie.release_date.year }}</li>
                            <li class="list-group-item"><strong>Genre:</strong> {{ movie.render_genre|slice:":20" }}</li>
                        </ul>
                </div>
            </div>

            {% endfor %}
            {% else %}
            p>No movies found...</p>
            {% endif %}
        </div>
    </div>
    <br/><br/><br/>
    
    <!-- Displaying the last series added here -->
    <h3 style="text-align: center;">Last added series:</h3>
    <br>

    <div style="display: flex; flex-wrap: wrap;">
        {% if series %}
        {% for serie in series %}

        <div class="card" style="width: 350px; margin-bottom: 25px; margin-right: auto; border: none;">
            
            <div style="display: flex; justify-content: space-between;" id="like_button">
                <p style=" margin: 15px 0px 0 15px;"><small>{{ serie.render_vote_average }}/10</small></p>

                <!-- like button feature -->
                <button class="like-button"
                        data-type="serie"
                        data-id="{{ serie.id }}"
                        data-liked="{% if serie.id in user_liked_series %}true{% else %}false{% endif %}">
                        <i class="{% if serie.id in user_liked_series %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                </button>
            </div>

            <div class="card-title" style="padding-top: 5px;">
                <div style="display: flex; justify-content: center;">
                    <a href="{% url 'serie:serie_overview' serie.id %}" style="text-decoration: none; color: #000;">
                        <h4>{{ serie.title }}</h4>
                    </a>

                    <div style="color: grey;">
                        {% if serie.render_length %}
                        <p style="margin-left: 8px;"><small>({{ serie.render_length }}min)</small></p>
                        {% else %}
                        <p style="margin-left: 8px;"><small>(N/a)</small></p>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="card-img-top" style="text-align: center; margin-top: 25px; margin:auto;  width: 60%;">
                {% if serie.render_image_poster %}
                <img src=" {{ serie.render_image_poster }} " class="img-fluid rounded" style="width: max-content;" alt="Profile photo">
                {% else %}
                <img src="{% static 'images/default_user_pic.png' %}" class="img-fluid rounded" alt="Profile photo">
                {% endif %}
            </div>

            <div class="card-body" style="text-align: left;">
                <p class="card-text" style="height: 70px;"><strong>Overview</strong>: {{ serie.description|slice:":80" }}...</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Released:</strong> {{ serie.release_date.year }}</li>
                    <li class="list-group-item"><strong>Genre:</strong> {{ serie.render_genre }}</li>
                </ul>
            </div>
            
        </div>
        {% endfor %}

        {% else %}
        <p>No series found...</p>
        {% endif %}
    </div>
    <br/>
    
</div>

{% endblock %}
