{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row main-row">

        <!-- Left section of the screen -->
        <aside class="custom-col-1-5 l-side-wrapper">
                
            <div class="side-publicity">
                <div class="list_advert">

                    <!-- <h5 style="color: rgb(99, 192, 161); text-align: center;">Adds:</h5> -->
                    <div class="card-advert">
                        <div class="inner-card-advert">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
                                nisi nam atque reiciendis, aspernatur exercitationem ...</p>
                        </div>
                    </div>
                    <div class="card-advert">
                            <div class="inner-card-advert">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est exercitationem provident ullam pariatur ipsum laboriosam esse harum</p>
                        </div>
                    </div>
                    <div class="card-advert">
                            <div class="inner-card-advert">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </aside>


        <!-- Main/middle section of the screen -->
        <main class="custom-col-9 main-wrapper-home">
            <div>

                <div class="inner-wrapper-home">
                    <section class="intro-home">

                        <div class="ms-auto mb-4 me-auto mt-2" style="text-align: center; color: antiquewhite;">
                            <div>
                                <h1 class="mt-1 mb-3">Welcome to Cinelib7</h1>
                                <!-- Reference the amount of content in the Database -->
                                <div>
                                    <strong>
                                        <p>Browse through an extensive collection of movies and TV shows</p>
                                        <p>Save your favorite. Share your thoughts. Join discussion with other film
                                            afficionados</p>
                                    </strong>
                                </div>

                                <div class="total-available d-block d-lg-none">
                                    <h5 style="color: rgb(146, 19, 19); margin: auto; width: 75%;">
            
                                            {% if movies_count %} {{ movies_count }} movies - {% else %}No movies - {% endif %}
                                            {% if series_count %} {{ series_count }} series  {% else %} No series  {% endif %}
                                            available in library
                                        
                                    </h5>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="media-display">

                        <!------ Displaying the movies recently released ------->
                        {% if recent_movies %}
                        <div class="test" style="margin-top: 2.5%;">

                            <div class="banderol">
                                <h2>Movies recently released</h2>
                            </div>

                            <!-- <div style="display: flex; flex-wrap: wrap; margin: 30px 0px 30px 80px;"> -->
                            <div class="row" style="width: 100%; padding: 0% 1.5%;">

                                {% for movie in recent_movies %}
                                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 col-xxl-2"
                                    style="height: 100%; padding: 0 0.25rem;">
                                    
                                    <div class="media-card h-100 w-100" style="margin: 5% 0% 5% 0;">

                                        <div class="vote_button_list">
                                            <small class="vote-average">{{ movie.render_vote_average }}/10</small>

                                            <div>
                                                <!-- Watchlist button feature -->
                                                <button class="watchlist-button" 
                                                    data-type="movie"
                                                    data-id="{{ movie.id }}"
                                                    data-bookmarked="{% if movie.id in user_watchlist_movies %}true{% else %}false{% endif %}">
                                                    <i class="{% if movie.id in user_watchlist_movies %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                                </button>

                                                <!-- like button feature -->
                                                <button class="like-button" id="like_button" data-type="movie"
                                                    data-id="{{ movie.id }}"
                                                    data-liked="{% if movie.id in user_liked_movies %}true{% else %}false{% endif %}">
                                                    <i class="{% if movie.id in user_liked_movies %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="poster-wrapper" title="{{ movie.render_genre}}">
                                            {% if movie.render_poster %}
                                            <img src="{{ movie.render_poster }}" alt="{{ movie.title }} poster"
                                                class="img-fluid rounded">
                                            {% else %}
                                            <img src="{% static 'images/default_media_photo.jpg' %}"
                                                class="img-fluid rounded" alt="Profile photo">
                                            {% endif %}
                                        </div>

                                        <div class="" style="width: fit-content;">
                                            <a href="{% url 'movie:detail' slug=movie.slug %}"
                                                style="text-decoration: none;">
                                                <!-- How to fix title to one line only. and use 3dots if title longer? -->
                                                <h6 class="list-movie-title" style="margin-top: 5px;">{{movie.title|slice:"0:28" }}</h6>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}


                        <!------ Displaying the new series coming up here -------->
                        {% if returning_series %}
                        <div class="test" style="margin-top: 2.5%;">

                            <div class="banderol">
                                <h2>Ongoing TV Shows:</h2>
                            </div>
                            <div class="row" style="padding: 0 1.5%;">

                                {% for serie in returning_series %}
                                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 col-xxl-2"
                                    style="height: 100%; padding: 0 0.25rem;">

                                    <div class="media-card h-100 w-100" style="margin: 5% 0 5% 0;">

                                        <div class="vote_button_list">
                                            <small class="vote-average">{{ serie.render_vote_average }}/10</small>

                                            <div>
                                                <!-- Watchlist button feature -->
                                                <button class="watchlist-button" data-type="serie"
                                                    data-id="{{ serie.id }}"
                                                    data-bookmarked="{% if serie.id in user_watchlist_series %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if serie.id in user_watchlist_series %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                                </button>

                                                <!-- like button feature -->
                                                <button class="like-button" id="like_button" data-type="serie"
                                                    data-id="{{ serie.id }}"
                                                    data-liked="{% if serie.id in user_liked_series %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if serie.id in user_liked_series %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="poster-wrapper" title="{{ serie.render_genre}}">
                                            {% if serie.render_poster %}
                                            <img src="{{ serie.render_poster }}" alt="{{ serie.title }} poster"
                                                class="img-fluid rounded">
                                            {% else %}
                                            <img src="{% static 'images/default_media_photo.jpg' %}"
                                                class="img-fluid rounded" alt="Profile photo">
                                            {% endif %}
                                        </div>


                                        <div class="" style="width: fit-content;">
                                            <a href="{% url 'serie:detail' slug=serie.slug %}"
                                                style="text-decoration: none;">
                                                <h6 class="list-movie-title" style="margin-top: 5px;">{{serie.title|slice:"0:28" }}</h6>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}


                        <!----- Displaying Some content from the user's watchlist ------->
                        {% if watchlist_content %}
                        <div class="test" style="margin-top: 2.5%;">

                            <div class="banderol">
                                <h2>
                                    <a href="{% url 'user_library:watch_list' request.user.id %}"
                                        style="text-decoration: none; color: inherit;">
                                        From your watchlist:
                                    </a>
                                </h2>
                            </div>

                            <div class="row" style="padding: 0 1.5%;">
                                {% for item in watchlist_content %}

                                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 col-xxl-2"
                                    style="height: 100%; padding: 0 0.25rem;">

                                    <div class="media-card h-100 w-100" style="margin: 5% 0 5% 0;">

                                        <div class="vote_button_list">
                                            <small class="vote-average">{{ item.object.render_vote_average }}/10</small>

                                            {% if item.type == 'movie' %}
                                            <div>
                                                <!-- Watchlist button feature -->
                                                <button class="watchlist-button" data-type="{{ item.type }}"
                                                    data-id="{{ item.object.id }}"
                                                    data-bookmarked="{% if item.object.id in user_watchlist_movies %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if item.object.id in user_watchlist_movies %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                                </button>

                                                <!-- like button feature -->
                                                <button class="like-button" id="like_button" data-type="{{ item.type }}"
                                                    data-id="{{ item.object.id }}"
                                                    data-liked="{% if item.object.id in user_liked_movies %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if item.object.id in user_liked_movies %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                                </button>
                                            </div>

                                            {% elif item.type == 'serie' %}
                                            <div>
                                                <!-- Watchlist button feature -->
                                                <button class="watchlist-button" data-type="{{ item.content_type }}"
                                                    data-id="{{ item.object.id }}"
                                                    data-bookmarked="{% if item.object.id in user_watchlist_series %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if item.object.id in user_watchlist_series %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                                </button>

                                                <!-- like button feature  -->
                                                <button class="like-button" id="like_button"
                                                    data-type="{{ item.content_type }}" data-id="{{ item.object.id }}"
                                                    data-liked="{% if item.object.id in user_liked_series %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if item.object.id in user_liked_series %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                                </button>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <div class="poster-wrapper" title="{{ item.object.render_genre}}">
                                            {% if item.object.render_poster %}
                                            <img src="{{ item.object.render_poster }}"
                                                alt="{{ item.object.title }} poster" class="img-fluid rounded">
                                            {% else %}
                                            <img src="{% static 'images/default_media_photo.jpg' %}"
                                                class="img-fluid rounded" alt="{{ item.object.title }} poster">
                                            {% endif %}
                                        </div>

                                        <div class="" style="width: fit-content;">
                                            {% if item.type == 'movie' %}
                                            <a href="{% url 'movie:detail' slug=item.object.slug %}"
                                                style="text-decoration: none;">
                                                <h6 class="list-movie-title" style="margin-top: 5px;">
                                                    {{item.object.title|slice:"0:28" }}
                                                </h6>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'serie:detail' slug=item.object.slug %}"
                                                style="text-decoration: none;">
                                                <h6 class="list-movie-title" style="margin-top: 5px;">
                                                    {{item.object.title|slice:"0:28" }}
                                                </h6>
                                            </a>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        {% endif %}


                        <!--------- Displaying the Media coming soon ------------>
                        {% if movies_coming_soon or new_series %}
                        <div class="test" style="margin-top: 2.5%;">

                            <div class="banderol">
                                <h2>Upcoming</h2>
                            </div>

                            {% if movies_coming_soon %}
                            <div class="row" style="padding: 0 1.5%;">
                                <div style="margin-top: 1.5%; text-align: center;">
                                    <h4>Movies</h4>
                                    <div style="width: 80%; margin: auto;">
                                        <hr style="color: gray; margin: 0;">
                                    </div>
                                </div>

                                {% for movie in movies_coming_soon %}
                                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 col-xxl-2"
                                    style="height: 100%; padding: 0 0.25rem;">
                                    <div class="media-card h-100 w-100" style="margin: 5% 0 5% 0;">

                                        <div class="vote_button_list">
                                            <small class="vote-average" style="color: gray;">{{movie.render_vote_average }}/10</small>

                                            <div>
                                                <!-- Watchlist button feature -->
                                                <button class="watchlist-button" data-type="movie"
                                                    data-id="{{ movie.id }}"
                                                    data-bookmarked="{% if movie.id in user_watchlist_movies %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if movie.id in user_watchlist_movies %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                                </button>

                                                <!-- like button feature -->
                                                <button class="like-button" id="like_button" data-type="movie"
                                                    data-id="{{ movie.id }}"
                                                    data-liked="{% if movie.id in user_liked_movies %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if movie.id in user_liked_movies %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                                </button>
                                            </div>

                                        </div>
                                        <div class="poster-wrapper" title="{{ movie.render_genre}}">
                                            {% if movie.render_poster %}
                                            <img src="{{ movie.render_poster }}" alt="{{ movie.title }} poster"
                                                class="img-fluid rounded">
                                            {% else %}
                                            <img src="{% static 'images/default_media_photo.jpg' %}"
                                                class="img-fluid rounded" alt="Profile photo">
                                            {% endif %}
                                        </div>

                                        <div class="" style="width: fit-content;">
                                            <a href="{% url 'movie:detail' slug=movie.slug %}"
                                                style="text-decoration: none;">
                                                <h6 class="list-movie-title" style="margin-top: 5px;">
                                                    {{movie.title|slice:"0:28" }}
                                                </h6>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}


                            <!-- displaying Series being released soon -->
                            {% if new_series %}
                            <div class="row" style="padding: 0 1.5%;">

                                <div style="margin-top: 1.5%; text-align: center;">
                                    <h4>Series</h4>
                                    <div style="width: 80%; margin: auto;">
                                        <hr style="color: gray; margin: 0;">
                                    </div>
                                </div>

                                {% for serie in new_series %}
                                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 col-xxl-2"
                                    style="height: 100%; padding: 0 0.25rem;">
                                    <div class="media-card h-100 w-100" style="margin: 5% 0 5% 0;">

                                        <div class="vote_button_list">
                                            <small class="vote-average">{{ serie.render_vote_average }}/10</small>

                                            <div>
                                                <!-- Watchlist button feature -->
                                                <button class="watchlist-button" data-type="serie"
                                                    data-id="{{ serie.id }}"
                                                    data-bookmarked="{% if serie.id in user_watchlist_series %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if serie.id in user_watchlist_series %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                                </button>

                                                <!-- like button feature -->
                                                <button class="like-button" id="like_button" data-type="serie"
                                                    data-id="{{ serie.id }}"
                                                    data-liked="{% if serie.id in user_liked_series %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if serie.id in user_liked_series %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                                </button>
                                            </div>

                                        </div>
                                        <div class="poster-wrapper" title="{{ serie.render_genre}}">

                                            {% if serie.render_poster %}
                                            <img src="{{ serie.render_poster }}" alt="{{ serie.title }} poster"
                                                class="img-fluid rounded">
                                            {% else %}
                                            <img src="{% static 'images/default_media_photo.jpg' %}"
                                                class="img-fluid rounded" alt="Profile photo">
                                            {% endif %}
                                        </div>

                                        <div class="" style="width: fit-content;">
                                            <a href="{% url 'serie:detail' slug=serie.slug %}"
                                                style="text-decoration: none;">
                                                <h6 class="list-movie-title" style="margin-top: 5px;">
                                                    {{serie.title|slice:"0:28" }}
                                                </h6>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}

                        </div>
                        {% endif %}

                        <!------ Displaying Randmom pick  --------->
                        {% if random_movies or random_series %}
                        <div class="test" style="margin-top: 2.5%;">

                            <div class="banderol">
                                <h2>Random Pick</h2>
                            </div>

                            {% if random_movies %}
                            <div style="margin-top: 1.5%; text-align: center;">
                                <h4>Movies</h4>
                                <div style="width: 80%; margin: auto;">
                                    <hr style="color: gray; margin: 0;">
                                </div>
                            </div>

                            <div class="row" style="padding: 0 1% 0 1%;">
                                {% for movie in random_movies %}
                                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 col-xxl-2"
                                    style="height: 100%; padding: 0 0.25rem;">
                                    <div class="media-card h-100 w-100" style="margin: 5% 0 5% 0;">

                                        <div class="vote_button_list">
                                            <small class="vote-average">{{ movie.render_vote_average }}/10</small>

                                            <div>
                                                <!-- Watchlist button feature -->
                                                <button class="watchlist-button" data-type="movie"
                                                    data-id="{{ movie.id }}"
                                                    data-bookmarked="{% if movie.id in user_watchlist_movies %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if movie.id in user_watchlist_movies %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                                </button>

                                                <!-- like button feature -->
                                                <button class="like-button" id="like_button" data-type="movie"
                                                    data-id="{{ movie.id }}"
                                                    data-liked="{% if movie.id in user_liked_movies %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if movie.id in user_liked_movies %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                                </button>
                                            </div>

                                        </div>
                                        <div class="poster-wrapper" title="{{ movie.render_genre}}">
                                            {% if movie.render_poster %}
                                            <img src="{{ movie.render_poster }}" alt="{{ movie.title }} poster"
                                                class="img-fluid rounded">
                                            {% else %}
                                            <img src="{% static 'images/default_media_photo.jpg' %}"
                                                class="img-fluid rounded" alt="Profile photo">
                                            {% endif %}
                                        </div>


                                        <div class="" style="width: fit-content;">
                                            <a href="{% url 'movie:detail' slug=movie.slug %}"
                                                style="text-decoration: none;">
                                                <h6 class="list-movie-title" style="margin-top: 5px;">
                                                    {{movie.title|slice:"0:28" }}
                                                </h6>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <!-- displaying Random pick series -->
                            {% if random_series %}
                            <div style="margin-top: 1.5%; text-align: center;">
                                <h4>Series</h4>
                                <div style="width: 80%; margin: auto;">
                                    <hr style="color: gray; margin: 0;">
                                </div>
                            </div>

                            <div class="row" style="padding: 0 1%;">
                                {% for serie in random_series %}
                                <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 col-xxl-2"
                                    style="height: 100%; padding: 0 0.25rem;">
                                    <div class="media-card h-100 w-100" style="margin: 5% 0 5% 0;">

                                        <div class="vote_button_list">
                                            <small class="vote-average">{{ serie.render_vote_average }}/10</small>

                                            <div>
                                                <!-- Watchlist button feature -->
                                                <button class="watchlist-button" data-type="serie"
                                                    data-id="{{ serie.id }}"
                                                    data-bookmarked="{% if serie.id in user_watchlist_series %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if serie.id in user_watchlist_series %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                                </button>

                                                <!-- like button feature -->
                                                <button class="like-button" id="like_button" data-type="serie"
                                                    data-id="{{ serie.id }}"
                                                    data-liked="{% if serie.id in user_liked_series %}true{% else %}false{% endif %}">
                                                    <i
                                                        class="{% if serie.id in user_liked_series %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                                </button>
                                            </div>

                                        </div>
                                        <div class="poster-wrapper" title="{{ movie.render_genre}}">
                                            {% if serie.render_poster %}
                                            <img src="{{ serie.render_poster }}" alt="{{ serie.title }} poster"
                                                class="img-fluid rounded">
                                            {% else %}
                                            <img src="{% static 'images/default_media_photo.jpg' %}"
                                                class="img-fluid rounded" alt="Profile photo">
                                            {% endif %}
                                        </div>

                                        <div class="" style="width: fit-content;">
                                            <a href="{% url 'serie:detail' slug=serie.slug %}"
                                                style="text-decoration: none;">
                                                <h6 class="list-movie-title" style="margin-top: 5px;">
                                                    {{serie.title|slice:"0:28" }}
                                                </h6>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}

                        </div>
                        {% endif %}


                        {% if not movies_count or not series_count %}
                        <div class="mt-5" style="text-align: center; color: antiquewhite;">
                            <h2>No Media or database found!</h2>
                        </div>
                        {% endif %}

                    </section>
                </div>
            </div>
            <div style="padding-bottom: 0%;"></div>

        </main>


        <!--------------------- Right section (wrapper) of the screen ----------------------------->
        <aside class="custom-col-1-5 r-side-wrapper">
            <div class="side-discovery">

                <div style="width: 95%; padding-top: 3rem; margin: auto;">

                    <div class="total-available" style="margin: auto;">
                        <strong style="color: rgb(146, 19, 19);">
                            <p style="margin: 0;">
                                {% if movies_count %}
                                {{ movies_count }} movies
                                {% else %}No movies
                                {% endif %}
                            </p>
                            <p style="margin: 0;">
                                {% if series_count %}
                                {{ series_count }} series
                                {% else %}
                                No series
                                {% endif %}
                            </p>
                            <p style="margin: 0;">
                                available in library
                            </p>
                        </strong>
                    </div>

                    <div style="padding-top: 50%; margin: auto;">
                        <h5 style="color: rgb(224, 185, 57); text-align: center; width: 97%; margin: auto;">Others saved in
                            their watchlist:</h5>
                        {% for media in discover_media %}
                        <div class="mt-3"
                            style="width: 75%; margin: auto; border: 1px solid rgb(224, 185, 57); border-radius: 0.5em; padding: 1%; background-color: black;">
                            <a
                                href="{% if media.type == 'movie' %}{% url 'movie:detail' slug=media.object.slug %}{% else %}{% url 'serie:detail' slug=media.object.slug %}{% endif %}">
                                <div class="d-flex align-items-center">
                                    {% if media.object.render_poster %}
                                    <img src="{{ media.object.render_poster }}" alt="{{ media.object.title }} poster"
                                        class="img-fluid rounded" style="width: auto; height: auto; margin-right: 10px;">
                                    {% else %}
                                    <img src="{% static 'images/default_media_photo.jpg' %}" class="img-fluid rounded"
                                        alt="Profile photo" style="width: 50px; height: auto; margin-right: 10px;">
                                    {% endif %}
                                </div>
                            </a>

                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </aside>

    </div>

{% endblock %}
