{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid" style="padding: 0 0.75%;">
    <div class="custom-wide">
        <div class="row">

            <!-- Left section of the screen -->
            <aside class="custom-col-1-5 d-none d-lg-block" style="padding: 0;">
                <div></div>
            </aside>

            <main class="custom-col-9" style="margin: auto; padding: 0 0.25%;">

                {% if list_media %}
                <div style="text-align: center; margin-top: 2rem; margin-bottom: 0.25rem;">
                    <h1 style="margin-bottom: 0;">{{ content }}:</h1>
                </div>
                <div style="padding: 0;">
                    <!-- prepare to add an order_by feature -->
                    <h6 style="text-align:right; margin-right: 2rem; padding: 0;">order by</h6>  
                </div>

                <!-- Display of Documentaries media genre -->
                <div class="row" style="justify-content: center; border: solid 2px; border-radius: 2em; padding: 1% 1.5%;">
                    {% for item in list_media %}
                    {% include "partials/media_list.html" %}
                    {% endfor %}
                </div>

                {% elif not list_media %}
                <div style="text-align: center; color: antiquewhite; margin-top: 4rem;">
                    <h3>No {{content}} found...</h3>
                    <p>please visit this page later</p>
                    <div style="padding-bottom: 30%;"></div>
                </div>
                
                {% endif %}
            
                <br><br>

                <!---------------  Pagination system  ------------------>
                {% if page_obj and page_obj.paginator.num_pages > 1 %}
                <div style="display: flex; justify-content: center; padding-bottom: 2rem;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">

                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a  href="?page=1" class="btn btn-outline-info mb-4" style="border: none; margin: 0px; padding-left: 6px; padding-right: 6px;">
                                    &laquo First
                                </a>
                            </li>
                            <!-- previous page -->
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info" style="border: none; margin: 0px; padding-left: 6px; padding-right: 6px;">
                                    &laquo Prev
                                </a>
                            </li>
                            {% endif %}

                            <!-- enumerate pages around current page -->
                            {% for num in page_obj.paginator.page_range %}

                            {% if num == page_obj.number %}
                            <li class="page-item" style="margin: 0px 1px;">
                                <a  href="#" class="btn btn-info" style="border: none;">{{ num }}</a>
                            </li>
                            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                            <li class="page-item" style="margin: 0px 1px;">
                                <a  href="?page={{ num }}" class="btn btn-outline-info" style="border: none;">{{ num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <!-- Next page -->
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info" style="border: none; margin: 0px; padding-left: 6px; padding-right: 6px;">
                                    Next &raquo
                                </a>
                            </li>
                            <!-- Last page -->
                            <li class="page-item">
                                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info" style="border: none; margin: 0px; padding-left: 6px; padding-right: 6px;">
                                    Last &raquo
                                </a>
                            </li>
                            {% endif %}

                            <!-- Show the current page and how many pages there are -->
                            <li class="page-item disabled" style="margin: 8px 0px 0px 20px;">
                                <h6 style="color: darkgray;">( Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} )</h6>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% elif page_obj and page_obj.paginator.num_pages == 1 %}
                <!-- Show only page info when there's just one page -->
                <div style="display: flex; justify-content: center; margin: 10px 0; padding-bottom: 2rem;">
                    <h6 style="color: darkgray;">( Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} )</h6>
                </div>
                {% endif %}
                <!-- ---------  End of Pagination system  ---------- -->

            </main>

            <!-- Right section of the screen -->
            <aside class="custom-col-1-5 d-none d-lg-block" style="padding: 0;">
                <div>
                </div>
            </aside>

        </div>
    </div>
</div>

{% endblock %}