{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="custom-wide">
        <div class="row main-row">

            <!-- Left section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                <div></div>
            </aside>

            <main class="custom-col-9 main-wrapper">

                {% if list_media %}
                <div style="text-align: center; margin-bottom: 0.25rem;">
                    <h1 style="margin-bottom: 0;">{{ content }}:</h1>
                </div>
                <div style="padding: 0.5rem;">

                    <!-- Sort-by selector -->
                    <div class="" style="width: fit-content; margin-left: auto; margin-right: 1rem;">
                        <label for="order-by" class="sr-only">sort-by</label>
                    
                        <select id="order-by" class="form-select form-select-sm" onchange="location = this.value;">
                            <option value="">sort-by</option>
                        
                            {% if sort_by %}
                            {% for item, key in sort_by %}
                            <option value="?order_by={{ key }}">
                                {{ item }}
                            </option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                </div>

                <!-- Display of Documentaries media genre -->
                <div class="row" style="justify-content: center; border: solid 2px; border-radius: 2em; padding: 1% 1.5%;">
                    {% for item in list_media %}
                    {% include "partials/media_list.html" %}
                    {% endfor %}
                </div>

                {% elif not list_media %}
                <div style="text-align: center; color: antiquewhite; margin-top: 4rem;">
                    <h3>No {{content}} found...</h3>
                    <p>please visit this page later</p>
                    <div style="padding-bottom: 30%;"></div>
                </div>
                
                {% endif %}
            
                <!---------------  Pagination system  ------------------>
                <section class="pagination-section">
                    {% include "partials/paginator.html" %}

                </section>
            </main>

            <!-- Right section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                <div>
                </div>
            </aside>

        </div>
    </div>

{% endblock %}