{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="custom-wide">
        <div class="row main-row">

            <!-- Left section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                <div></div>
            </aside>

            <main class="custom-col-9 main-wrapper">

                {% if list_media %}
                <div style="text-align: center;">
                    <h1>{{ content }}:</h1>
                </div>

                <!---- Sort-by selector ---->
                {% include "partials/sort_by.html" %}


                <!------- Display the media. // Incl Pagination syste  --------->
                <div id="media-list">
                    {% include "partials/media_list.html" %}
                </div>

                {% elif not list_media %}
                <div style="text-align: center; color: antiquewhite; margin-top: 4rem;">
                    <h3>No {{content}} found...</h3>
                    <p>please visit this page later</p>
                    <div style="padding-bottom: 30%;"></div>
                </div>
                
                {% endif %}
            

            </main>

            <!-- Right section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                <div>
                </div>
            </aside>

        </div>
    </div>

{% endblock %}