{% extends "base.html" %}

{% block content %}
{% load static %}



<div class="mt-4">
    <h1 style="text-align: center;">{{ total_like }} content liked:</h1>
</div>

<br><br>
{% if liked_content %}
    {% for item in liked_content %}


    <div style="width: 80%; margin: auto;" >
        <div style="justify-items: center; padding-bottom: 50px;" >
        

            <div style=" margin-right: 30px;">
                <p><strong>liked on:</strong> {{ item.liked_at }}</p>
            </div>

            <div class="card w-25">

                <div class="card-body">
                    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                        <div class="card-title">
                            <a href="{% url 'movie:detail_movie' item.content.id %}" style="text-decoration: none; color: #000;">
                                <h5>{{ item.content.title }}</h5>
                            </a>
                        </div>
                        <!--  Trigger the Like function, in this page automatically unlike -->
                        <form method="POST" action="{% url 'user_library:toogle_like' 'movie' item.content.pk %}">
                            {% csrf_token %}
                            <button type="submit">
                                Unlike
                            </button>
                        </form>
                    </div>


                    <div class="card-img-top" style="text-align: center; margin-top: 25px;">
                        {% if item.content.images_poster %}
                            <img src=" {{ movie.film_poster.url }} " class="img-fluid rounded"  alt="Profile photo">
                        {% else %}
                        <img src="{% static 'images/default_user_pic.png' %}" class="img-fluid rounded" alt="Profile photo">
                        {% endif %}
                    </div>
                <p class="card-text"><strong>Overview</strong>: {{ item.content.description|slice:":40" }}...</p>
                </div>
            </div>

        </div>
    </div>

    {% endfor %}
{% else %}
<p>TEST123</p>
<h5 style="text-align: center;">No content liked yet...</h5>
{% endif %}

{% endblock %}
