{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="custom-wide">
        <div class="row">


            <!-- Left section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                <div></div>
            </aside>
            
            
            <!-- Main/middle section of the screen -->
            <main class="custom-col-9 main-wrapper ">

                <div style="text-align: center; margin-bottom: 0.25rem;">
                    {% if request.user.username == user %}
                    <h1 style="margin-bottom: 0;">Your watch list:</h1>
                    {% else %}
                    <h1 style="margin-bottom: 0;">{{ user }}'s watch list:</h1>
                    {% endif %}
                </div>
                
                {% if list_media %}
                <div class="watchlist-count-sort">
                    <div>
                        <h6 class="count-watchlist">{{ total_content }} items in your watchlist</h6>
                    </div>
    
                    <!-- Sort-by selector -->
                    {% include "partials/sort_by.html" %}

                </div>


                <div id="media-list">
                        {% include "partials/media_list.html" %}
                </div>
                
                {% else %}
                <div style="padding-top: 10%;"></div>
                <h3 style="text-align: center; color: bisque; margin: auto;">No Media saved yet...</h3>
                <div style="padding-top: 32.5%;"></div>
                {% endif %}

            </main>
            
            
            <!-- Right section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                <div></div>
            </aside>
            
        </div>
    </div>


{% endblock %}