/* ================ Navbar design =========================== */
.navbar {
    width: 100%;
    height: 50px;
    /* background-color: rgb(56, 9, 16); */
    background-color: rgb(40, 2, 7);
    top:0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
    display: flex;
    align-items: center;
}

.navbar-spacer {
    height: 50px; /* Same as navbar height */
}

/* General navbar layout */
.navbar-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0 0.3rem 0 0rem;
    width: 100%;
    height: 100%;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.nav-search-btn {
    background-color: rgb(49, 132, 132);
    border-radius: 1em; 
    border-color: rgb(62, 158, 158); 
    color: white;
    /* background-color: rgb(62, 158, 158); */
}

.nav-search-btn:hover, .home-search-btn:active {
    background-color: rgb(9, 95, 95);
    color: rgb(224, 185, 57);
    border-color: rgb(62, 158, 158);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, border-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out
}


/* =========== Media links on Navbar =========== */
.link-btn:hover, .link-btn:active {
    color: antiquewhite;
}
.link-btn {
    color: rgb(224, 185, 57);
    /* color: rgb(243, 209, 16); */
}


/* ============== Home button ======================== */
.home-btn {
    display: none;
    /* margin-left: 8px; */
}

.home-btn h4 {
    color: rgb(224, 185, 57);
    margin-left: 0.5rem;
    font-weight:600 ;
}

.home-btn:hover {
    color: antiquewhite;
}


/* ========== Search Navbar ====================== */
.navbar-search {
    flex: 1;
    max-width: 180px;
    min-width: 120px;
    margin: 0;
    /* align-items: center; */
}

.navbar-search .search-form {
    /* padding-right: 1rem; */
    display: flex;
    gap: 0.25rem;
    /* width: 100%; */
    /* margin: auto; */
    padding-right: 0;
}

.search-input {
    transition: width 0.3s ease;
    /* border-radius: 2em; */
}


/* ========== Profile links =========== */
.navbar-profile {
    /* margin-left: auto; */
    width: fit-content;
}

@media (max-width: 768px) {

}

/* Mobile screen: navbar is collapsed */
/* Max to md/medium screen */
@media (max-width: 991px) {
    .navbar {
        padding: 0 0.25rem;
    }
    /* layout of the Left drop down menu */
    .navbar-collapse {
        background-color: rgb(90, 87, 87);
        border: solid 1px whitesmoke;
        border-radius: 0.5em;
    }

    .nav-item {
        gap: 2rem;
    }

    .nav-link {
        padding: 0.25rem 0rem;
        width: fit-content;
    }

    .nav-link h5{
        padding: 0rem;
        border-bottom: solid gray 1px;
    }

    .navbar-search {
        min-width: 120px;
        max-width: 280px;
    }

    #mainNavDropMenu {
        position:absolute;
        margin-top: 3rem;
        top: 0;
        min-width: 220px;
    }
    /* #mainNavDropMenu .nav-link {
        padding: 0 auto;
    } */

    /* shows the Media links on navbar desktop */
    /* .navbar-collapse .navbar-brand{
        display: block;
    } */
}



/* Desktop screen: navbar is not collapsed */
/* From lg/large screens */
@media (min-width: 992px) {
    .navbar-collapse .navbar-brand{
        display: none;
    }
    .home-btn {
        display: block;
        /* margin-left: 8px; */
    }

    #mainNavDropMenu {
        align-items: center;
    }

    .link-btn:hover {
        transform: scale(1.1);
        transition: transform 1s;
        
    }
    
    .home-btn:hover {
        transform: scale(1.1);
        transition: transform 1s;
    }

    .navbar-search {
        min-width: 220px;
        max-width: 320px;
    }
}

/* @media (min-width: 1200px) {
    .navbar-search {
        min-width: 280px;
        max-width: 320px;
    }
} */
