
/* ================ Navbar design =========================== */
.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(56, 9, 16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
}

.navbar-spacer {
    height: 50px; /* Same as navbar height */
}



/* ============== Home button ======================== */
.home-btn {
    /* color: rgb(243, 209, 16); */
    color: rgb(224, 185, 57);
}

.home-btn:hover {
    color: whitesmoke;
    transform: scale(1.15);
    transition: transform 1s;

}

/* .home-btn .active {
    background-color: rgb(224, 185, 57);
    color: black;

} */

.navbar a:hover {
    color: rgb(224, 185, 57);

}

/* =========== Media links on Navbar =========== */
.main-link {
    color: rgb(224, 185, 57);
    /* color: rgb(243, 209, 16); */
}

.main-link:hover {
    color: whitesmoke;
    transform: scale(1.1);
    transition: transform 1s;

}
