
.pagination-wrapper {
    display: flex;
    justify-content: center;
    /* padding-bottom: 2rem; */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pagination-btns {
    display: flex;
    flex-wrap:nowrap;
    gap: 0px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.pagination-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

/* Default: mobile-behavior */
.page-mobile {
    display: inline-block;
    margin: 0px 0px;
    
}

.page-desktop {
    display: none;
    margin: 0px;
}

/* Mobile size adjustments layout */
@media (max-width: 768px) {
    
    .page-item a {
        padding: 0.25rem 4px;
        font-size: 0.9rem;
    }
    
}

@media (max-width: 1268px) {
    .pagination-meta {
        /* padding-right: 1.5rem; */
        margin-top: 0.6rem;
    }
    
}

/* Pass into desktop, shows 5 btns around current page*/
@media (min-width: 768px) {
    .page-mobile {
        display: none;
    }
    .page-desktop {
        display: inline-block;
    }

    .page-item a {
        padding: 0.25rem 5px;
    }
}


/* desktop size adjustments layout */
/* Wide enough to pass all pagination on the same line */
@media (min-width: 1268px) {
    nav {
        flex-direction: row;
        align-items: center;
    }

    .page-item a {
        padding: 0.25rem 0.45rem;
    }

}

/* Scroll down pag option selector */
.pagination-jump {
    /* padding-right: 1.5rem; */
    margin-left: 0.5rem;
}

.pagination-jump select {
    width: 100%;
    margin: auto;
}

#page-jump {
    padding-right: 1.5rem;
    /* margin-left: 0.5rem; */
}

.pagin-info {
    padding-left: 1rem;
}