*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    #container {
        width: 90%;
    }
    
    h1 {
        font-size: 200%;
    }
}


@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(60, 18, 24);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
}

.navbar-spacer {
    height: 50px; /* Same as navbar height */
}

body {
    background-color: #171623; /* Light grey background */
}


h1, h2, h3, h6 {
    color:antiquewhite ;
}

.card, .card-body, .list-group-item  {
    background-color:rgb(191, 195, 188) ;
}


img {
    /* size: 200px; */
    width: 20%;
    height: auto;
}



/*------------ Like button ----------- */
.like-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: transform 0.2s;
}

.like-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}


.like-button i {
    color: #4a4949;
    transition: all 1.3s ease;
}

.like-button i.liked {
    color: #e53636;
}


.fa-heart {
    color: #ccc;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.fa-heart.liked {
    color: #ff4d4d;
}

/* Option 2: Scale with rotation */
.like-button:hover {
    transform: scale(1.4) rotate(5deg);
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(1); }
}

.pulse {
    animation: pulse 0.8s ease;
}


/* alert message */
.alert {
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/*-------- FOOTER --------- */
.footer {
    position: relative;
    flex-shrink: 0;
    text-align: center;
    background-color: rgb(93, 93, 93);
    bottom: 0;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}






/* Temporary display for the seasons and episodes in detail_serie template */
.season-toggle {
    background-color: rgb(71, 22, 22);
    color: bisque;
    padding: 8px;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    text-align: left;
}

.episode-list {
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
}