*,
*::before,
*::after {
  box-sizing: border-box;
}



@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

@media screen and (max-width: 768px) {
    #container {
        width: 90%;
    }
    
    h1 {
        font-size: 200%;
    }
}


.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(56, 9, 16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
}

.navbar-spacer {
    height: 50px; /* Same as navbar height */
}

body {
    background-color: #171623; /* Light grey background */
}


h1, h2, h3, h5, h6 {
    color:antiquewhite ;
}

.card, .card-body, .list-group-item  {
    background-color:rgb(191, 195, 188) ;
}

/*  For images in movie/serie detail  */
img {
    width: 25%;
    height: auto;
}



.list-movie-title {
 color: rgb(192, 190, 99);;
}

.vote-average{
    color: rgb(192, 190, 99);
    margin: 0.5rem 0 0 0.5rem;
}






/*------------ Like button ----------- */
.like-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5em 0.5em 0em 0em;
    transition: transform 0.2s;
}

.like-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}


.like-button i {
    color: #6d1b1b;
    transition: all 1.3s ease;
}

.like-button i.liked {
    color: #6d1b1b;
}


.fa-heart {
    color: #ccc;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.fa-heart.liked {
    color: #6d1b1b;
}

/* Option 2: Scale with rotation */
.like-button:hover {
    transform: scale(1.4) rotate(5deg);
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(1); }
}

.pulse {
    animation: pulse 0.8s ease;
}


/* alert message */
.alert {
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



/* Temporary display for the seasons and episodes in detail_serie template */
.season-toggle {
    background-color: rgb(71, 22, 22);
    color: bisque;
    padding: 8px;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    text-align: left;
}

.season-toggle.active {
    background-color: #007bff;
    color: white;
}

.trailer-episode-data {
    padding: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
}



/* ------- Comment form and ...------------ */
.comment-form {
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}



/* custom display depending on screen size */
/* To have two sides and a main row on screen (middle being the main) */
@media (min-width: 960px) {
  .col-xl-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
  }
  
  .custom-wide {
      max-width: 1920px;
      width: 100%;
      margin: auto;
    }

    .custom-col-1-5 {
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
    
    .custom-col-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    
}


/* Optional: make sure .row has no gaps pushing layout */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Screen sizes for Bootstrap 5
xs    >576px
sm	<576px
md	720px
lg	960px
xl	1140px
xxl	1320px */


.poster-wrapper {
    
  height: max-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #111; fallback bg */
}

.poster-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    /* object-fit: cover; */
}






/*-------- FOOTER --------- */
.footer {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    background-color: rgb(93, 93, 93);
    /* background-color: rgb(60, 18, 24); */
    /* color: antiquewhite; */

    bottom: 0;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.footer a {
    color: antiquewhite;
}