*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    #container {
        width: 90%;
    }
    
    h1 {
        font-size: 200%;
    }
}



@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}


body {
    background-color: #f5f5f5; /* Light grey background */
}


img {
    /* size: 200px; */
    width: 20%;
    height: auto;
}



/*------- Like button ----- */
.like-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: transform 0.2s;
}

.like-button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}


.like-button i {
    color: #4a4949;
    transition: all 1.3s ease;
}

.like-button i.liked {
    color: #e53636;
}


.fa-heart {
    color: #ccc;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.fa-heart.liked {
    color: #ff4d4d;
}

/* Option 2: Scale with rotation */
.like-button:hover {
    transform: scale(1.4) rotate(5deg);
}


@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(1); }
}

.pulse {
    animation: pulse 0.8s ease;
}


/* alert message */
.alert {
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}