{% extends 'base.html' %}
{% load static %}

{% block content %}


<div style="width: 90%; margin: auto; margin-top: 20px;">
    
    <div class="card" style="text-align: center;">
        
        <div class="card-header" style="text-align: center; margin-top: 8px;">
            <h5 class="card-title">Filter your search here</h5>  
        </div>
        
        <!------------------ Search Filter  form  ----------------->
        <div class="row">
            <div class="col">
                <div class="card-body" style="margin-top: 25px;">
                    <form method="get" action="{% url 'search:search' %}">
                        <!-- {% csrf_token %} -->
                        <div class="" style="display: flex; flex-wrap: wrap; justify-content: center;">


                            <div class="form-group mb-2 me-3">
                                <label for="content_type">Content Type:</label>
                                {{ filter.form.content_type }}
                            </div>

                            <div class="form-group me-3">
                                <label for="genre">Genre:</label>
                                {{ filter.form.genre }}
                            </div>

                            <div class="form-group mb-2 me-3">
                                <label for="title">Title:</label>
                                {{ filter.form.title }}
                            </div>

                            <div class="form-group mb-2 me-3">
                                <label for="vote_average__gte">Min Rating:</label>
                                {{ filter.form.vote_average }}
                            </div>

                            <div class="form-group me-2">
                                <label for="release_date">Select an exact year:</label>
                                {{ filter.form.release_date }}
                            </div>


                            <div>
                                <div class="form-group me-2">
                                    <label for="release_date__gte">year From:</label>
                                    {{ filter.form.release_date_gte }}
                                </div>
    
    
                                <div class="form-group me-2">
                                    <label for="release_date__lte">year To:</label>
                                    {{ filter.form.release_date_lte }}
                                </div>

                            </div>


                                <!-- <label for="release_date__lte">to:</label>
                                {{ filter.form.release_date }} -->

                        </div>

                        <button type="submit" class="btn btn-secondary" style="margin-top: 40px; margin-right: 35px;">
                            <a class="nav-link active" aria-current="page" href="{% url 'search:search' %}">Reset filters</a>
                        </button>

                        <button type="submit" class="btn btn-secondary" style="margin-top: 40px; margin-right: 35px; background-color: darkcyan;">Apply filters</button>
                    </form>
                </div>
            </div>                    
        </div>
    </div>


                    <br><br>
    <!------------- Result Query Result Found or no items found -------------->
    <div style="width: 50%; margin: auto; text-align: center;">
        <!-- click on search button in Navbar with result -->
        {% if query and movies or series %}
        <h3 style="color: green;">Search results for "{{ query }}".</h3>
        <p style="color: darkgreen;">{{ total_found }} items found match your query.</p>
        
        <!-- click on search button in Navbar without result -->
        {% elif query and not movies and not series %}
        <h3 style="color: red;">No result for "{{ query }}"...</h3>

        <!-- click on search button in Navbar without search given // same with search filter button-->
        {% elif not query and not filters_applied %}
        <h3 style="color: green;">Start your search</h3>


        <!-- filter form button clicked with filters and results -->
        {% elif filter and query_params and not query %}
        <h3 style="color: green;">Search results for your query.</h3>
        <p style="color: darkgreen;">{{ total_found }} items match your query.</p>        
        <!-- filter form button clicked with filters no result -->
        

        {% elif not query and filter and not movies or not series %}
        <h3 style="color: red;">No result could be found base on your query</h3>        
        <p style="color: darkred;"> please refine the filtering options</p>
        {% endif %}
    </div>



    <!-- New combined results for Movies and Series. that will handle from Navbar search and filtered queries -->
    <div class="results" style="display: flex; flex-wrap: wrap; margin: 30px 0px 30px 100px; align-content: center;">
        {% if list_content %}
        {% for item in list_content %}
        <div class="media-card {% if item.type == 'movie' %}movie-card{% else %}serie-card{% endif %}" style="width: 270px; height: auto; margin-right: 30px; margin-bottom: 25px;">
            <div class="poster">
                
                {% if item.type == 'movie' %}
                <div style="display: flex; justify-content: space-between;" id="like_button">
                    <p style=" margin: 5px 0px 0 15px; color: aquamarine;"><small>{{ item.object.render_vote_average }}/10</small></p>
                    <p style="color: aquamarine;"><small>({{ item.type|title }})</small></p>
                    <!-- like button feature  -->
                    <button class="like-button"
                        data-type="{{ item.object.type }}"
                        data-id="{{ item.object.id }}"
                        data-liked="{% if item.object.id in user_liked_movies %}true{% else %}false{% endif %}">
                        <i class="{% if item.object.id in user_liked_movies %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                    </button>
                
                </div>

                <img src="{{ item.object.image_poster }}" alt="{{ item.object.title }} poster" style="width: fit-content; height: 400px;">
                {% else %}
                <div style="display: flex; justify-content: space-between;" id="like_button">
                    <p style=" margin: 5px 0px 0 15px; color: aquamarine;"><small>{{ item.object.render_vote_average }}/10</small></p>
                    <p style="color: aquamarine;"><small>({{ item.type|title }})</small></p>
                    
                    <!-- like button feature  -->
                    <button class="like-button"
                        data-type="{{ item.object.type }}"
                        data-id="{{ item.object.id }}"
                        data-liked="{% if item.object.id in user_liked_series %}true{% else %}false{% endif %}">
                        <i class="{% if item.object.id in user_liked_series %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                    </button>
                
                </div>

                <img src="{{ item.object.render_image_poster }}" alt="{{ item.object.title }} poster"  style="width: fit-content; height: 400px;">
                {% endif %}
            </div>

            <div class="" style="width: auto;">
                {% if item.type == 'movie' %}
                <a href="{% url 'movie:movie_overview' item.object.id %}" style="text-decoration: none;">
                    <h4 style="color: rgb(99, 192, 161);">{{ item.object.title|slice:":70" }}</h4>
                </a>
                {% else %}
                <a href="{% url 'serie:serie_overview' item.object.id %}" style="text-decoration: none;">
                <h4 style="color: rgb(99, 192, 161);">{{ item.object.title }}</h4>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        
        {% endif %}
    </div>
    
    
    {% if query or filters_applied or list_content %}
    <!----- Pagination system ------->
    <div style="display: flex; justify-content: center;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if list_content.has_previous and query_params  %}
                <li class="page-item" style="margin: 0px 0px;"><a  href="?page=1&{{ query_url }}" class="btn btn-outline-info mb-4">&laquo first</a></li>
                <!-- previous page -->
                <li class="page-item" style="margin: 0px 10px 0px 0px;"><a href="?page={{ list_content.previous_page_number }}&{{ query_url }}" class="btn btn-outline-info mb-4">&laquo Previous page</a></li>
                {% elif list_content.has_previous and not query_params  %}
                <li class="page-item" style="margin: 0px 0px;"><a  href="?page=1" class="btn btn-outline-info mb-4">&laquo first</a></li>
                <!-- previous page -->
                <li class="page-item" style="margin: 0px 10px 0px 0px;"><a href="?page={{ list_content.previous_page_number }}" class="btn btn-outline-info mb-4">&laquo Previous page</a></li>
                {% endif %}
                
                {% for num in list_content.paginator.page_range %}
                    <!-- enumerate pages around current page -->
                    {% if num == list_content.number %}
                    <li class="page-item disabled" style="margin: 0px 1px;"><a  href="#" class="btn btn-info mb-4">{{ num }}</a></li>
                    {% elif num > list_content.number|add:'-5' and num < list_content.number|add:'5' %}
                    <li class="page-item" style="margin: 0px 1px;"><a  href="?page={{ num }}&{{ query_url }}" class="btn btn-outline-info mb-4">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                    
                {% if query_params and list_content.has_next %}
                <!-- Next page -->
                <li class="page-item" style="margin: 0px 0px 0px 10px;"><a href="?page={{ list_content.next_page_number }}&{{ query_url }}" class="btn btn-outline-info mb-4">Next Page</a></li>

                <!-- Last page -->
                <li class="page-item" style="margin: 0px 10px 0px 0px;"><a href="?page={{ list_content.paginator.num_pages }}{% for key, value in query_params.items %}&{{ key }}={{ value }}{% endfor %}" class="btn btn-outline-info mb-4">Last Page</a></li>
                {% elif not query_params and list_content.has_next %}
                <!-- Next page -->
                <li class="page-item" style="margin: 0px 0px 0px 10px;"><a href="?page={{ list_content.next_page_number }}" class="btn btn-outline-info mb-4">Next Page</a></li>
                
                <!-- Last page -->
                <li class="page-item" style="margin: 0px 10px 0px 0px;"><a href="?page={{ list_content.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last Page</a></li>
                {% endif %}
                
                <!-- Current page and how many pages are there -->
                <li class="page-item disabled" style="margin: 10px 10px 0px 0px;"><h6>Page {{ list_content.number }} of {{ list_content.paginator.num_pages }}</h6></li>
            </ul>
        </nav>
    </div>
    {% endif %}
    <!-- --- End of Pagination system ----- -->


</div>
    
{% endblock %}

<!-- {% for item in items %} -->

<!-- {% endfor %} -->
