{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
   
    <div class="row">
        <div class="col-sm-8 offset-md-2">
            {% if serie %}
                <div class="card">

                    <div style="display: flex; flex-wrap: wrap; align-self: flex-end; margin-top: 15px; margin-right: 10px;">
                        <form method="POST" action="{% url 'user_library:toogle_like' 'serie' serie.pk %}">
                            {% csrf_token %}
                            <button type="submit">
                                {% if serie.id in user_liked_serie %}
                                Unlike
                                {% else %}
                                Like
                                {% endif %}
                            </button>
                        </form>
                    </div>

                    <div class="card-img-top" style="text-align: center; margin-top: 20px;">
                        {% if serie.film_poster %}
                        <img src=" {{ serie.film_poster.url }} " class="img-fluid rounded" style="margin: 0px 25px;" alt="Profile photo">
                        {% else %}
                        <img src="{% static 'images/default_user_pic.png' %}" class="img-fluid rounded" style="margin: 0px 25px;" alt="Profile photo">
                        {% endif %}
                    </div>
                    <br>
                    
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">{{ serie.title }}</h4>
                        <br>
                        <p class="card-text"> Description: {{ serie.description }}</p>
                        <br>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Year:</strong> {{ serie.release_date }}</li>
                            <li class="list-group-item"><strong>Genre:</strong>  {{ serie.render_genre }}</li>
                            <li class="list-group-item"><strong>Length:</strong> {{ serie.length }}min</li>
                            <li class="list-group-item"><strong>Rating score:</strong> {{ serie.rating }}/10</li>
                            <li class="list-group-item"><strong>Casting:</strong> {{ serie.casting }}</li>
                            <li class="list-group-item"><strong>Production:</strong> {{ serie.production }}</li>
                            <li class="list-group-item"><strong>Writer:</strong> {{ serie.writer }}</li>
                            <li class="list-group-item"><strong>Origin country:</strong> {{ serie.country_of_origin }}</li>
                        </ul>
                    </div>
                </div>
                <br><br>

                <!-- Comment section -->
                 <h4>Comments:</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p }}
                    <div class="card">
                        <div class="row">
                            <!-- <label for=""></label> -->
                            <textarea class="form control":rows="3"></textarea>
                            <button type="submit" class="btn btn-secondary">
                                submit
                            </button>
                        </div>
                    </div>

                </form>
        </div>
                      
    </div>

            {% else %}
                <p>No series found...</p>
            {% endif %}
    <br/>
    
</div>

{% endblock %}
