{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="custom-wide">
        <div class="row main-row">
            
            
            <!-- Left section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                
                <section>
                    <!-- For dev purpose -->
                    {% if request.user.is_superuser %}
                    <div style="color: aliceblue;">
                        <p style="padding: 0; margin: 0;"><strong>id: {{ serie.pk }}</strong></p>
                        {% if serie.created_at|date:"Y-m-d H" == serie.updated_at|date:"Y-m-d H" %}
                        <p><strong>(Not updated)</strong></p>
                        {% elif serie.created_at != serie.updated_at %}
                        <p><strong>(last updated on {{ serie.updated_at|date:"d-M-y" }})</strong></p>
                        {% endif %}
                    </div>
                    {% endif %}
                    <!-- End of dev purpose -->
                </section>

            </aside>


            <main class="custom-col-9 main-wrapper">
                
                {% if serie %}
                <!-- Main card for Serie - contains Season and Episode data -->
                <div class="card col-12 col-sm-12" style="margin: auto; border-radius: 0.5em;">
                    
                    <section id="serie-detail-section">

                        <div class="background-media-img rounded" id="banner-background" style="background-image: url('{{ serie.render_banner }}');">

                            <div class="detail-vote-buttons">
                                
                                    <p class="detail-vote-avg-count">
                                        {{ serie.render_vote_average }}/10 ({{serie.vote_count}} votes)
                                    </p>

                                <div class="detail-media-user-btns">
                                    <!-- Watchlist button feature -->
                                    <button class="watchlist-button"
                                        data-type="serie"
                                        data-id="{{ serie.id }}"
                                        data-bookmarked="{% if serie.id in user_watchlist_series %}true{% else %}false{% endif %}">
                                        <i class="{% if serie.id in user_watchlist_series %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                                    </button>
                                    <!-- like button feature -->
                                    <button class="like-button"
                                            data-type="serie"
                                            data-id="{{ serie.id }}"
                                            data-liked="{% if serie.id in user_liked_serie %}true{% else %}false{% endif %}">
                                            <i class="{% if serie.id in user_liked_serie %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- To give space between the backcground image and the next parts -->
                            <div class="banner-space"></div>

                            <div class="row">

                                <!-- ROW 1 = Poster/title/tagline/overview -->
                                <div class="detail-title-poster col-12 col-sm-12 col-md-5 col-xl-4">
                                    
                                    <div class="row row-cols-1 row-cols-md-1 d-md-block pt-md-5">


                                        <div class="detail-poster col-5 col-md-12">
                                            {% if serie.render_poster %}
                                            <img src=" {{ serie.render_poster }} " class="img-fluid rounded" alt="poster photo">
                                            {% endif %}
                                        </div>
                                        
                                        <div class="detail-title col-7 col-md-12 mt-0 mt-md-3">
                                            <div style="text-align: center;">
                                                {% if serie.title != serie.original_title %}
                                                <h3 class="card-title">{{ serie.title }} ({{ serie.original_title }})</h3>
                                                {% else %}
                                                <h3 class="card-title">{{ serie.title }}</h3>
                                                {% endif %}
                                            
                                                {% if serie.tagline %}
                                                <h6 style="color: black;">({{ serie.tagline }})</h6>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="media-overview-detail col-11 col-md-12 mx-auto mt-3 mt-md-5 mb-3 mb-md-0">
                                        <p class="card-text"><strong>Overview:</strong></p>
                                        {% if serie.overview %}
                                        <p style="min-height: 100px; max-height: 200px; overflow-y: auto; padding: 0 0.5rem 0 0.5rem;">{{ serie.overview }}</p>
                                        {% else %}
                                        <p>No description available.</p>
                                        {% endif %}
                                    </div>
                                </div>


                                <!--  ROW 2 = Release/length/genre/casting -->
                                <div class="media-info-row-1 col-10 col-sm-6 col-md-7 col-xl-4">

                                    <div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item" style="padding: 0"></li>

                                            <li class="list-group-item px-2 px-sm-4">
                                                <div class="release-length d-flex">
                                                    <div style="display: flex; flex-wrap: wrap; gap: 0.25rem;">
                                                        <strong>Released:</strong> <p style="margin-bottom: 0.5rem;">{{ serie.first_air_date }}</p>
                                                    </div>
                                                    <div style="display: flex; flex-wrap: wrap; gap: 0.25rem;">
                                                        <strong>Length:</strong>
                                                        <p style="margin-bottom: 0.5rem;">{% if serie.length %} {{ serie.length }} {% else %} N/a {% endif %}</p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item" style="padding: 0.5rem 0.25rem;">
                                                <p style="margin-bottom: 0.5rem;"><strong>Genre:</strong></p>
                                                <p style="margin: auto;">
                                                    {{ serie.render_genre }}
                                                </p>
                                            </li>

                                            <li class="list-group-item casting">
                                                <p><strong>Casting:</strong></p>
                                                {% if main_cast %}
                                                <div style="max-height: 200px; overflow-y: auto;">
                                                    {% for cast in main_cast %}
                                                        {% if not cast.role %}
                                                        <p style="margin: auto;">{{ cast.name }}</p>
                                                        {% else  %}
                                                        <p style="margin: auto;">{{ cast.name }} as <i style="font-weight:600;">{{ cast.role }}</i></p>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <!-- ROW 3 = Production/director/writer/country/language -->
                                <div class="media-info-row-2 col-10 col-sm-6 col-md-12 col-xl-4">

                                    <div>
                                        <ul class="list-group list-group-flush d-block d-md-flex d-lg-block">
                                            <li class="list-group-item" style="padding: 0"></li>

                                            <li class="list-group-item" style="padding: 0.5em 0.5em 0 0.5em; margin: 0;">
                                                <div class="d-flex" style="justify-content: space-around;">
                                                    <div>
                                                        <strong>Origin country:</strong>
                                                        <p>{{ serie.render_origin_country }}</p>
                                                    </div>
                                                    <div>
                                                        <strong>Language:</strong>
                                                        <p>{{ serie.render_spoken_languages }}</p>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item" style="padding: 0.5em 0.5em 0 0.5em; margin: 0;">
                                                <p style="margin: 0;"><strong>Production:</strong></p>
                                                <p>{{ serie.render_production }}</p>

                                            <li class="list-group-item" style="padding: 0.5em 0.5em 0 0.5em; margin: 0;">
                                                <p style="margin: 0;"><strong>Created by:</strong></p>
                                                <p>{{ serie.render_created_by }}</p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- End Row 3 -->

                            </div>
                            <!-- End of rows -->

                        </div>
                        
                    </section>

                
                    <!-- ============ Display the seasons here and episodes =============== -->
                    <section class="season-episode-content">
                    
                        <div style="padding-left: 7%; padding-top: 1rem;">
                            <h5 style="color: inherit;">Seasons:</h5>
                        </div>
                    
                        <div class="season-btn">
                            <!-- try to not display season if no episode are present -->
                            <!-- Button trigger htmx to get the season&episode's data. Render then in #season-content -->
                            {% for season in seasons %}
                            {% if season.episodes %}
                            <div style="margin-left: 0.5rem; margin-bottom: 1rem;  width: fit-content;">
                                
                                <button class="season-toggle" 
                                style="padding:0.5rem 1rem;"
                                data-season-id="{{ season.id }}" 
                                hx-get="{% url 'serie:season_data' season.id %}"
                                hx-swap="innerHTML"
                                hx-target="#season-content">
                                    {{ season }}
                                </button>
                            </div>

                            {% endif %}
                            {% endfor %}
                        </div>

                        <br>

                        <!-- Empty container for htmx -->
                        <div id="season-content">
                            <!-- display the Trailer and episodes through htmx when user click on the season button -->
                        </div>
                    
                    </section>
                </div>

                <br>

                <!------- Comment Post form -------->
                <section class="comment-post-section">
                    {% include "comment/comment_form.html" %}
                </section>
                <br>

                <!---------Display the Comment Objects here -------->
                <section class="comment-list-section">
                    {% if comments %}
                    {% for comment in comments %}

                    {% include "comment/block_comment.html" %}

                    {% endfor %}
                
                    {% else %}
                    <h4 style="text-align: center; color: antiquewhite;">No comment posted yet...</h4>
                    {% endif %}
                </section>
            
            
                {% else %}
                <h4>Serie not found...</h4>
                <div style="padding-bottom: 40%;"></div>
                {% endif %}

            </main>


            <!-- Right section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                <div>
                </div>
            </aside>

        </div>
    </div>
</div>
<br/>


<script src="{% static 'js/create_comment.js' %}"></script>
<script src="{% static 'js/edit_comment.js' %}"></script>
<script src="{% static 'js/delete_comment.js' %}"></script>


<script>
    // ------------- Display the seasons Trailers and episodes when clicked --------------
    document.addEventListener("click", function (event) {
        if (event.target.classList.contains('season-toggle')) {

            const seasonButtons = document.querySelectorAll('.season-toggle');
                // Remove 'active' class from all buttons, set to original color
                seasonButtons.forEach(btn => {
                    btn.classList.remove('active');
                    console.log(`unactive seasons gets original btn color`);
                    event.target.classList.add('active')
                });
        }
    });


</script>

{% endblock %}
