{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>

    <h1 style="text-align: center;">Here are the series available:</h1>
    
    <br><br>
    <div style="display: flex; width: 80%; margin-left: 150px;" >
        {% if series %}
            {% for serie in series %}
                <div style="margin-right: 25px; max-width: 25%;" >
                    <div class="card">

                        <div class="card-img-top" style="text-align: center; margin-top: 25px;">
                            {% if serie.film_poster %}
                                <img src=" {{ serie.film_poster.url }} " class="img-fluid rounded"  alt="Profile photo">
                            {% else %}
                            <img src="{% static 'images/default_user_pic.png' %}" class="img-fluid rounded" alt="Profile photo">
                            {% endif %}
                        </div>

                        <div class="card-body">
                            <a href="{% url 'serie:detail_serie' serie.id %}" style="text-decoration: none; color: #000;">
                                <h5 class="card-title" style="text-align: center;">{{ serie.title }}</h5>
                            </a>
                            <br>
                            <p class="card-text"><strong>Overview</strong>: {{ serie.description|slice:":100" }}...</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Year:</strong> {{ serie.release_date }}</li>
                                <li class="list-group-item"><strong>Genre:</strong> {{ serie.render_genre }}</li>
                                <li class="list-group-item"><strong>Length:</strong> {{ serie.length }}min</li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            {% endfor %}
        {% else %}
        p>No movies found...</p>
        {% endif %}
    </div>
    <br/>
    
</div>

{% endblock %}
