{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="width: 90%; margin: auto; margin-top: 20px;">

    <h1 style="text-align: center; margin-top: 2rem;">TV Shows:</h1>
    
    <br><br>

    <!------- Display the Series.  --------->
    <div style="display: flex; flex-wrap: wrap; margin: 30px 0px 30px 80px;">
        {% if serie_list %}
        {% for serie in serie_list %}
        <div class="media-card" style="width: 230px; height: auto; margin-right: 35px; margin-bottom: 25px;">
            <div class="poster">
                
                <div style="display: flex; justify-content: space-between;" id="like_button">
                    <p style=" margin: 5px 0px 0 15px; color: aquamarine;"><small>{{ serie.render_vote_average }}/10</small></p>
        
                    <div>
                        <!-- Watchlist button feature -->
                        <button class="watchlist-button"
                                data-type="serie"
                                data-id="{{ serie.id }}"
                                data-bookmarked="{% if serie.id in user_watchlist_series %}true{% else %}false{% endif %}">
                                <i class="{% if serie.id in user_watchlist_series %}fa fa-bookmark {% else %}far fa-bookmark {% endif %}"></i>
                        </button>
                    
                        <!-- like button feature -->
                        <button class="like-button"
                                id="like_button"
                                data-type="serie"
                                data-id="{{ serie.id }}"
                                data-liked="{% if serie.id in user_liked_series %}true{% else %}false{% endif %}">
                                <i class="{% if serie.id in user_liked_series %}fa fa-heart liked{% else %}far fa-heart{% endif %}"></i>
                        </button>
                    </div>

                </div>

                <div>
                    {% if serie.image_poster %}
                    <img src="{{ serie.render_image_poster }}" alt="{{ serie.title }} poster" class="img-fluid rounded" style="width: fit-content; height: 350px;">
                    {% else %}
                    <img src="{% static 'images/default_media_photo.jpg' %}" class="img-fluid rounded" alt="Profile photo" style="width: fit-content; height: 350px;">
                    {% endif %}
                </div>
            </div>

            <div class="" style="width: auto;">
                <a href="{% url 'serie:detail' slug=serie.slug %}" style="text-decoration: none;">
                <h4 style="color: rgb(99, 192, 161); margin-top: 5px;">{{ serie.title|slice:":70" }}</h4>
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No series found...</p>
        {% endif %}
    </div>




    <!----- Pagination system ------->
    <div style="display: flex; justify-content: center;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if serie_list.has_previous %}
                <li class="page-item" style="margin: 0px 0px;"><a  href="?page=1" class="btn btn-outline-info mb-4">&laquo first</a></li>
                <!-- previous page -->
                <li class="page-item" style="margin: 0px 10px 0px 0px;"><a href="?page={{ serie_list.previous_page_number }}" class="btn btn-outline-info mb-4">&laquo Previous page</a></li>
                {% endif %}
                
                {% for num in serie_list.paginator.page_range %}
                <!-- enumerate pages around current page -->
                {% if num == serie_list.number %}
                <li class="page-item disabled" style="margin: 0px 1px;"><a  href="#" class="btn btn-info mb-4">{{ num }}</a></li>
                {% elif num > serie_list.number|add:'-5' and num < serie_list.number|add:'5' %}
                <li class="page-item" style="margin: 0px 1px;"><a  href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                
                {% if serie_list.has_next %}
                <!-- Next page -->
                <li class="page-item" style="margin: 0px 0px 0px 10px;"><a href="?page={{ serie_list.next_page_number }}" class="btn btn-outline-info mb-4">Next Page</a></li>
                
                <!-- Last page -->
                <li class="page-item" style="margin: 0px 10px 0px 0px;"><a href="?page={{ serie_list.paginator.num_pages}}" class="btn btn-outline-info mb-4">Last Page</a></li>
                {% endif %}
                
                <!-- Current page and how many pages are there -->
                <li class="page-item disabled" style="margin: 10px 10px 0px 0px;"><h6>Page {{ serie_list.number }} of {{ serie_list.paginator.num_pages }}</h6></li>
            </ul>
        </nav>
    </div>

</div>
{% endblock %}

                        <!-- <li class="list-group-item"><strong>Total seasons: </strong>{{ series_data.last_season }}</li>
                        {% if series_data.last_episode %}
                        <li class="list-group-item"><strong>last episode: </strong>
                            {% if series_data.last_episode %}{{ series_data.last_episode }}
                            {% else %}N/a{% endif %}
                            {% endif %}
                        </li> -->