{% load static %}

<footer class="footer">

    <div class="row" style="justify-content: space-evenly; padding: 1rem;">

        <div class="col-3" style="margin: 0;">
            <p style="margin-bottom: 0;">@2025 Cinelib7 - (Powered by Django)</p>
            <p>MIT licence</p>
        </div>

        <div class="col-3" style="width: 30%;">
            <small>
                This [website, program, service, application, product] uses TMDB and the TMDB APIs but is not endorsed, certified, or otherwise approved by TMDB.
                <img src="{% static 'images/TMDB_logo.svg' %}" class="img-fluid rounded" style="width: 5rem; height: 1rem; margin-bottom: 0.2rem;" alt="Movie poster">
            </small>
        </div>

    </div>
</footer>
