{% load static %}

<footer class="footer" style="width: 100%; margin: 2rem 0 0 0;">

    <div style="padding: 1rem; margin: auto">

        <div style="display: block; width: fit-content; margin: auto;">
            <p style="margin-bottom: 0;">@2025 <strong>Cinelib7</strong> - (Powered by Django)</p>
            <p> &bull; MIT licence</p>
        </div>

        <div>
            <small>
                This [website, program, service, application, product] uses TMDB and the TMDB APIs but is not endorsed, certified, or otherwise approved by TMDB.
                <img src="{% static 'images/TMDB_logo.svg' %}" class="img-fluid rounded" style="width: 5rem; height: 1rem; margin-bottom: 0.2rem;" alt="Movie poster">
            </small>
        </div>

    </div>
</footer>
