{% extends "base.html" %}

{% block content %}

<div class="container-fluid" style="width: 50%;">   
    <div class="card" style="align-items: center; padding-top: 100px;">

        <h4 style="margin-right: 30px;">Update Password</h4>

        <form method="POST" action="{% url 'user:update_user_pw' request.user.id %}">
            {% csrf_token %}

            {% for field in form %}
            <br><br>
            <div class="mb-4">

                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <div class="form-text">{% autoescape off %}{{ field.help_text }}{% endautoescape %}</div>
                {% endif %}
            {% endfor %}

            </div>

            <div style="text-align: center; padding-top: 25px;">
                <button type="submit" class="btn btn-secondary" style="display: block; margin: 0 20px; display: inline-block;">
                    submit
                </button>
        </form>
    </div>
</div>

{% endblock %}