{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="custom-wide">
    <div class="row">


        <!-- Left section of the screen -->
        <aside class="custom-col-1-5 l-side-wrapper">
            <div></div>
        </aside>


        <main class="custom-col-9 main-wrapper">

            <div class="edit-user-card">

                <div>
                    <h2 style="text-align: center;">Update</h2>

                    <form method="POST" action="{% url 'user:update_user_name' request.user.id %}">
                        {% csrf_token %}

                        {% for field in form %}
                        <label for="{{ field.id_for_label }}" style="color:antiquewhite">
                            {{ field.label }}
                        </label>

                        {{ field }}
                        {% if field.help_text %}
                        <div class="form-text">
                            {% autoescape off %}{{ field.help_text }}{% endautoescape %}
                        </div>
                        {% endif %}
                        {% endfor %}

                        <!--  Buttons -->
                        <div class="d-flex"
                            style="justify-content: space-between; width: 95%; margin: auto; padding-top: 2rem;">

                            <a href="{% url 'user:update_profile' request.user.id %}" class="btn btn-secondary">
                                Go Back
                            </a>

                            <button type="submit" class="btn btn-secondary">
                                submit
                            </button>

                        </div>
                    </form>

                </div>
            </div>
            <div class="under-user-update-form"></div>


        </main>

        <!-- Right section of the screen -->
        <aside class="custom-col-1-5 r-side-wrapper">
            <div>
            </div>
        </aside>


    </div>
</div>

{% endblock %}