{% extends "base.html" %}

{% block content %}
{% load static %}

    <div class="custom-wide">
        <div class="row">
            
            
            <!-- Left section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
            </aside>
            
            <main class="custom-col-9 main-wrapper">

                <div style="margin: auto; width: 95%;">

                    <!-- Forms input to edit profile -->
                    <div style="text-align: center; padding-bottom: 2rem;">
                        <h2 >Edit your profile here:</h2>
                    </div>

                    <div style="text-align: center;">
                        <form  style="color:antiquewhite;" 
                            method="POST" 
                            enctype="multipart/form-data" 
                            action="{% url 'user:update_profile' request.user.id %}">
                            {% csrf_token %}

                            <div class="edit-profile-form">

                                {% for field in form %}
                                <div class="form-group">
                                    <div style="">
                                        <label for="{{ field.id_for_label }}" style="color: rgb(224, 185, 57);">{{ field.label }}</label>   
                                    </div>

                                    <div class="">{{ field }}</div>
                                    {% if field.help_text %}
                                        <div class="form-text" style="color:white; margin-bottom: 0.5rem;">{% autoescape off %}{{ field.help_text }}{% endautoescape %}</div>
                                    {% endif %}
                                </div>
                                
                                {% endfor %}
                            </div>
                        
                            <div class="edit-profile-buttons">
                                <a href="{% url 'user:profile_page' request.user.id %}" class="btn btn-secondary">
                                    Go Back
                                </a>

                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                        </form>

                    </div>
                    
                    <hr>
    
                    <!-- Links to update credentials: user name, password -->
                    <div class="edit-account-card">
                        
                        <div>
                            <h5 style="color: inherit; padding-top: 0.5rem;">To edit your user account</h5>
                            <p><small>(user-name, password, first and last name.)</small></p>
    
                            <div class="edit-account-btns">
                                <a href="{% url 'user:update_user_name' request.user.id %}" class="btn btn-secondary">
                                    <small>Update account</small>
                                </a>
                                <a href="{% url 'user:update_user_pw' request.user.id %}" class="btn btn-secondary">
                                    <small>change password</small>
                                </a>
                            </div>
                        </div>
                        
                    </div>

                </div>

            </main>

            <!-- Right section of the screen -->
            <aside class="custom-col-1-5 side-wrapper">
                <div>
                </div>
            </aside>

        </div>
    </div>

{% endblock %}

