{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="custom-wide">
    <div class="row">


        <!-- Left section of the screen -->
        <aside class="custom-col-1-5 side-wrapper">
            <div></div>
        </aside>


        <main class="custom-col-9 main-wrapper">

            <div class="edit-password-card">

                <div>
                    <div style="text-align: center;">
                        <h2>Update Password</h2>
                    </div>

                    <form method="POST" action="{% url 'user:update_user_pw' request.user.id %}">
                        {% csrf_token %}

                        {% for field in form %}

                            <label for="{{ field.id_for_label }}" style="color:antiquewhite; margin-top: 1rem;">
                                {{ field.label }}
                            </label>
    
                            <div class="update-password-field">
                                {{ field }}
                            </div>
                                
    
                            {% if field.help_text %}
                            <div class="form-text" style="color:antiquewhite;">
                                <small>
                                    {% autoescape off %}{{ field.help_text }}{% endautoescape %}
                                </small>
                            </div>
                            {% endif %}
                        {% endfor %}

                        <!-- Buttons -->
                        <div class="d-flex pt-5 w-75 mx-auto"
                            style="justify-content: space-between;">

                            <a href="{% url 'user:update_profile' request.user.id %}" class="btn btn-secondary">
                                Go Back
                            </a>

                            <button type="submit" class="btn btn-secondary">
                                submit
                            </button>

                        </div>
                    </form>

                </div>
            </div>
            <div style="padding-bottom: 12%;"></div>

        </main>


        <!-- Right section of the screen -->
        <aside class="custom-col-1-5 side-wrapper">
            <div>
            </div>
        </aside>


    </div>
</div>

{% endblock %}