{% extends "base.html" %}

{% block content %}

<div class="custom-wide">
    <div class="row">


        <!-- Left section of the screen -->
        <aside class="custom-col-1-5 side-wrapper">
            <div></div>
        </aside>

        <main class="custom-col-9 main-wrapper">

            {% if user.is_authenticated %}
            <div style="text-align: center; margin-top: 7rem;">
                <h2>You are already connected, {{ user.username }}!</h2>
                <a href="{% url 'main:home' %}" class="btn btn-secondary" style="margin-top: 3em;">Go to main page</a>
                <div style="padding-top: 12.5%;"></div>
            </div>

            {% else %}
            <div class="login-card col-8 col-sm-6 col-md-4 col-xl-3">

                <h3 style="text-align: center;">Login</h3>
                <br>

                <form method="POST" action="{% url 'user:login' %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" class="form-control" placeholder="Enter Your Username" name="username">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control" placeholder="Enter Your Password" name="password">
                    </div>

                    <div class="login-form-btn">
                        <div>
                            <a href="{% url 'main:home' %}" class="btn btn-secondary">Go Back</a>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-secondary">
                                Log In
                            </button>
                        </div>
                    </div>
                    
                    <div class="register-btn">
                        <span>Not yet a user? </span>
                        <a href="{% url 'user:register' %}">
                            Register here
                        </a>
                    </div>

                </form>

            </div>

            {% endif %}

            <!-- Provide some extra space below the form & before the footer / avoiding weird end of page -->
            <div class="under-login-form"></div>

        </main>


        <!-- Right section of the screen -->
        <aside class="custom-col-1-5 side-wrapper">
            <div>
            </div>
        </aside>

    </div>
</div>



{% endblock %}