{% extends "base.html" %}

{% block content %}

<div class="custom-wide">
    <div class="row">


        <!-- Left section of the screen -->
        <aside class="custom-col-1-5 l-side-wrapper">
            <div></div>
        </aside>

        <main class="custom-col-9 main-wrapper">

            {% if user.is_authenticated %}
            <div class="mt-5" style="text-align: center;">
                <h2>You are already connected, {{ user.username }}!</h2>
                <a href="{% url 'main:home' %}" class="btn btn-secondary" style="margin-top: 3em;">Home</a>
                <div style="padding-top: 7rem;"></div>
            </div>

            {% else %}
            <div class="login-card">

                <h3 style="text-align: center;">Login</h3>
                <br>

                <form method="POST" action="{% url 'user:login' %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" class="form-control" placeholder="Enter Your Username" name="username">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control" placeholder="Enter Your Password" name="password">
                    </div>

                    <div class="login-form-btn">
                        <div>
                            <a href="{% url 'main:home' %}" class="btn btn-secondary">Go Back</a>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-secondary">
                                Log In
                            </button>
                            <div class="register-btn">
                                <a href="{% url 'user:register' %}">
                                    <p style="margin-top: 0.5rem; border-bottom: rgb(56, 9, 16) 0.5px solid;">Register
                                        here</p>
                                </a>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            {% endif %}

            <!-- Provide some extra space below the form & before the footer / avoiding weird end of page -->
            <div class="under-login-form"></div>

        </main>


        <!-- Right section of the screen -->
        <aside class="custom-col-1-5 r-side-wrapper">
            <div>
            </div>
        </aside>

    </div>
</div>



{% endblock %}