{% extends "base.html" %}

{% block content %}
{% load static %}


<div>
    <br>
    <br>
</div>

<div class="container-fluid" style="width: 90%;">   
    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">{{ profile.user.username.capitalize }}</h5>
        </div>

        <div class="card-body">

            <div style="display: flex;">

                <div class="col-md-1" style="margin-left: 15px; margin-right: 40px;">
                    <p class="card-text"><strong>age:</strong> {{ profile.render_age }}</p>
                    <p class="card-text"><small class="text-body-secondary"><strong>Last updated:</strong> {{ profile.last_update }}</small></p>
                </div>
                
                <!--  profile picture -->
                <div class="" style="margin-top: 2px; margin-right: 50px;">
                    {% if profile.profile_picture %}
                    <img src=" {{ profile.profile_picture.url }} " class="img-fluid rounded" style="width: 200px; height: 200px;" alt="Profile photo">
                    {% else %}
                    <img src="{% static 'images/default_user_pic.png' %}" class="img-fluid rounded" style="margin: 0px 25px; width: 20%;" alt="Profile photo">
                    {% endif %}
                </div>

                <div>
                    <div style="text-align: center; margin-top: 25px; margin-bottom: 10px;">
                        <h5 class="card-title" style="margin-bottom: 25px;">Special title treatment</h5>
                        <p class="card-text" style="margin-bottom: 25px;">{{ profile.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!--  User's data, content such like watch list, liked movies -->
        <div class="card-footer text-body-secondary d-flex">
            
            <div style="margin-left: 150px; margin-right: 100px;">
                test
            </div>
            <div style="margin-left: 100px; margin-right: 70px;">
                <a href="{% url 'user_library:watch_list' request.user.id %}" class="btn btn-primary" style="background-color: rgb(75, 13, 13);">Watchlist</a>
                <!-- <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-current="page" href="{% url 'user_library:watch_list' request.user.id %}"><strong>My watchlist</strong></a> -->
            </div>


            <div style="margin-left: 100px; margin-right: 50px; margin-top: -50px;">
                {% if like %}
                <br><br>
                <a href="{% url 'user_library:liked_view' request.user.id %}" class="btn btn-secondary" style="background-color: rgb(127, 143, 231);">Liked content</a>
                {% else %}
                <p>no content liked yet...</p>
                {% endif %}
            </div>

        </div>
    </div>
</div>





{% endblock %}