{% extends "base.html" %}

{% block content %}
{% load static %}

<br>
<br>

<div style="width: 85%; margin: auto;">   

    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">{{ profile.user.username.capitalize }}</h5>
        </div>

        <div class="card-body">
            <div style="display: flex;">

                <div class="col-md-1" style="margin-left: 15px; margin-right: 40px;">
                    <p class="card-text"><strong>age:</strong> {{ profile.render_age }}</p>
                    <p class="card-text"><small class="text-body-secondary"><strong>Last updated:</strong> {{ profile.last_update }}</small></p>
                </div>
                
                <!--  profile picture -->
                <div class="" style="margin-top: 2px; margin-right: 50px;">
                    {% if profile.profile_picture %}
                    <img src=" {{ profile.profile_picture.url }} " class="img-fluid rounded" style="width: 200px; height: 200px;" alt="Profile photo">
                    {% else %}
                    <img src="{% static 'images/default_user_pic.png' %}" class="img-fluid rounded" style="margin: 0px 25px; width: 200px;" alt="Profile photo">
                    {% endif %}
                </div>

                <div>
                    <div style="text-align: left; margin-top: 25px; margin-bottom: 10px;">
                        <h5 class="card-title" style="margin-bottom: 25px;">Special title treatment</h5>
                        <p class="card-text" style="margin-bottom: 25px;">{{ profile.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!--  User's data, content such like watch list, liked movies -->
        <div class="card-footer text-body-secondary d-flex">
            
            <div style="margin-left: 150px; margin-right: 100px;">
            </div>
            <div style="margin-left: 100px; margin-right: 70px;">
                <a href="{% url 'user_library:watch_list' request.user.id %}" class="btn btn-primary" style="background-color: rgb(75, 13, 13);">Watchlist</a>
            </div>

            <div style="margin-left: 100px; margin-right: 20px; margin-top: -50px;">
                <br><br>
                {% if like %}
                <a href="{% url 'user_library:liked_view' request.user.id %}" class="btn btn-secondary" style="background-color: rgb(127, 143, 231);">Liked content</a>
                {% else %}
                <p></p>
                {% endif %}
            </div>
            <p >{{ total_like }} likes</p>

        </div>
    </div>




    <!--  Last User's activity -->
    <div class="d-flex" style="margin-left: 100px;">
        

        <!--  Last comments -->
        <div class="col-sm-5">
            <div class="row">

                <div>
        
                    <h5 style="margin-top: 50px; margin-bottom: 20px; text-align: center;">Last activity:</h5>
                    
                    {% if comment_content %}
                    {% for item in comment_content %}
                    <div class="mb-4">
            
                        <div class="card text-center" style="border: solid 2px darkslategray;">
                            
                            <div class="card-body d-flex">
                                <p class="card-text" style="width: 95%;">{{ item.comment.body }}</p>
                            </div>
                
                            <div class="card-footer text-body-secondary d-flex" style="justify-content: space-between;">
                                <p></p>
                                <div>
                                    <small>Commented on: {{ item.comment.created_at }}</small>
                
                                    {% if item.comment.content_type == 'movie' %}
                                    <a href="{% url 'movie:detail' slug=item.object.slug %}" style="text-decoration: none; color: inherit;">
                                        <span style="font-weight: bold;">| {{ item.object.title|slice:":50"  }}</span>
                                    </a>
                
                                    {% elif item.comment.content_type == 'serie' %}
                                    <a href="{% url 'serie:detail' slug=item.object.slug %}" style="text-decoration: none; color: inherit;">
                                        <span style="font-weight: bold;">| {{ item.object.title|slice:":50"  }}</span>
                                    </a>
                                    {% endif %}
                                </div>
            
                                <!-- delete option for Comments if user is owner of comment -->
                                <div style="margin-top: auto;">
                                    {% if item.comment.user.id == request.user.id %}
                                    <a href="{% url 'comment:delete_comment' item.comment.id %}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                </div>
            
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No comments available.</p>
                    {% endif %}

                </div>
            </div>
        </div>
        
        
        

        <!--  Last comments -->
        <div class="col-sm-5">
            <div class="row">
                <div style="margin-left: 100px;">
                    <h5 style="margin-top: 50px; margin-bottom: 20px; text-align: center;">TEST placeholder (movie liked, added to watchlist will appear here):</h5>

                    
                </div>
            </div>
        </div>


    </div>




</div>

{% endblock %}