{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="custom-wide">
    <div class="row">

        <!-- Left section of the screen -->
        <aside class="custom-col-1-5 side-wrapper">
            <div></div>
        </aside>

        <main class="custom-col-9 main-wrapper">
            
            <div class="register-card col-12">
                <div class="inner-register-card">

                    <div class="register-form">
                        <div style="text-align: center; margin: 1rem 0;">
                            <h2>Register</h2>
                            <hr style="margin: 8px;">
                        </div>
        
                        <form method="POST" action="{% url 'user:register' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <!-- help text's color set directly in forms.py -->
                            <div style="text-align: center; padding: 4% 0;">
                                <button type="submit" class="btn btn-secondary">
                                    submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="padding-bottom: 5%;"></div>

        </main>

        <!-- Right section of the screen -->
        <aside class="custom-col-1-5 side-wrapper">
            <div>
            </div>
        </aside>

    </div>
</div>


{% endblock %}