name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

#    - name: Run tests
#      run: |
#        pip install -r requirements.txt
#        python manage.py test
#      continue-on-error: true

    - name: Deploy via AWS SSM
#      uses: aws-actions/aws-cli@v2
      uses: peterkimzz/aws-ssm-send-command@1.0.1
      with:
#        aws-region: eu-central-1
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID  }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY  }}
        aws-region: eu-central-1b
        instance-ids: "${{secrets.EC2_INSTANCE_ID}}"
        #   --document-name "AWS-RunShellScript" \
        comment: "Deploy movie lib app"
        working-directory: /home/ubuntu/var/www/movie_library/
        commands:  /bin/bash ./deploy.sh"
