name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4


    - name: Deploy via AWS SSM
      uses: peterkimzz/aws-ssm-send-command@1.0.1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID  }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY  }}
        aws-region: eu-central-1
        instance-ids: ${{ secrets.EC2_INSTANCE_ID }}
        comment: "Deploy movie lib app"
        working-directory: /var/www/movie_library
        command: /bin/bash ./deploy.sh
