name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:

  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: pyhton manage.py test


  deploy:
    runs-on: ubuntu-latest
    needs: [build_and_test]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Deploy via AWS SSM
      run: |
        command_id=$(aws ssm send-command \
          --instance-ids ${{ secrets.EC2_INSTANCE_ID }} \
          --document-name "AWS-RunShellScript" \
          --comment "Deploy movie lib app" \
          --parameters '{"commands":["sudo -u ubuntu /bin/bash  /var/www/movie_library/deploy.sh"],"workingDirectory":["/var/www/movie_library"],"executionTimeout":["3600"]}' \
          --output text \
          --query "Command.CommandId")
        
        echo "Command ID: $command_id"
        echo "Waiting for command to complete..."
        
        aws ssm wait command-executed \
          --command-id $command_id \
          --instance-id ${{ secrets.EC2_INSTANCE_ID }}
        
        echo "Getting command results..."
        aws ssm get-command-invocation \
          --command-id $command_id \
          --instance-id ${{ secrets.EC2_INSTANCE_ID }} \
          --query '[Status,StandardOutputContent,StandardErrorContent]' \
          --output text
